[2017-07-18 02:55] tigerneil opened #1 "test_latent_multitask_gp_mean_abs_error"
I run `python -m  pytest` one failure occurs.

[code]

[2017-07-18 15:16] gpleiss commented on #1
We're aware of this problem. This issue comes from using kernel (such as the index kernel) that is not always positive definite under certain parameter settings. @jrg365 and I are working to change some of the underlying math which will hopefully mitigate this problem!

[2017-07-25 09:45] yxchng opened #2 "Does GPytorch perform a lot of speedups over GPy or MATLAB's Gaussian Process?"
Just wondering, is this project just a hobby project to learn more about GP or does it provide a lot of speedups over existing GP library? I would expect so since it uses GPU. Is that right?

[2017-07-25 13:04] gpleiss commented on #2
The goal for this library is speed an modularity!

Right now, we're still in the early development phase, so our main focus has been the interface and modularity. Now that the interface is more or less developed, our next goal is making major speed improvements and adding documentation.

Since we're using PyTorch, our library supports GPU use. (We haven't tested it thoroughly yet, but it should wo

[2017-07-25 13:04] #2 closed

[2017-08-16 05:31] gpleiss commented on #1
We gutted this functionality, so the test no longer exists.

[2017-08-16 05:31] #1 closed

[2017-08-16 08:29] chalesguo opened #8 "ImportError: No module named 'gpytorch.random_variables'"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/gpytorch-0.1-py3.5.egg/gpytorch/__init__.py", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/gpytorch-0.1-py3.5.egg/gpytorch/distribution.py", line 3, in <module>
ImportError: No module named 'gpytorch.random_variables'

[2017-08-17 01:26] chalesguo commented on #8
After reinstalling, it works fine.

[2017-08-17 01:26] #8 closed

[2017-08-17 03:23] chalesguo opened #10 "pytorch 0.2 problem"
from gpytorch.inference import Inference
infer = Inference(prior_observation_model)
posterior_observation_model = infer.run(train_x, train_y, max_inference_steps=20)

*******************************

RuntimeError                              Traceback (most recent call last)
<ipython-input-7-5c8312ad59b0> in <module>()
      1 from gpytorch.inference import Inference
      2 infer = Inference(prio

[2017-08-17 11:26] gpleiss commented on #10
Have you pulled recently? This problem should be fixed by now.
Also, be warned that there interface is changing significantly...

[2017-08-20 19:52] AjayTalati opened #14 "Minimal Documentation"
Hi,

thanks for releasing this repository - it's really cool :+1:

I was just wondering if you would be providing any minimal documentation? The examples are really nice, some extra comments though we be very helpful, especially for folks new to GPs.

Maybe easier for you, perhaps references to tutorials/other learning materials/video lectures? I'm guessing a lot of newbies, will be drawn to this

[2017-08-20 20:50] gpleiss commented on #14
Documentation is definitely in the works! We're trying to finish up some features/interface changes first, and then we'll add documentation and release an alpha.

As a GP-newbie myself, this library is definitely designed for those with little GP knowledge (as well as GP experts like @jrg365).

We're shooting for a mid-September alpha, by the way.

[2017-08-20 21:26] AjayTalati commented on #14
Sounds great :)

Just in case folks are looking for resources to help them here's some good links,

[GPflow](https://gpflow.readthedocs.io/en/latest/tutorialsAndExamples.html) - similar to this repo, but in TF
[GPy](http://nbviewer.jupyter.org/github/SheffieldML/notebook/blob/master/GPy/index.ipynb) - a nice place to start if you want to get a feel for GPs without too much technical stuff

[2017-08-21 01:23] AjayTalati opened #15 "Install error"
Hi,

I just tried to install the library using the instructions on the repository front page, and got this error,

[code]

[2017-09-01 03:57] chalesguo opened #18 "import gpytorch error"
$ python
Python 3.5.2 (default, Nov 17 2016, 17:05:23)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/gpytorch-master/gpytorch/__init__.py", line 3, in <module>
    from .lazy import LazyVariable, ToeplitzLazyVariable
  File "/home/ubuntu/gpytorch-mas

[2017-09-01 20:00] gpleiss commented on #18
Run `python setup.py install`

[2017-09-01 20:00] #18 closed

[2017-09-01 20:02] gpleiss commented on #15
Are you installing this on a machine with a GPU?

[2017-09-01 20:33] notsimon opened #20 "fftw linking issue"
Hi,

Here's the error I get when importing gpytorch:

[code]

ldd on _libfft.abi3.so (produced by build.py) gives:

[code]

which shows that is wasn't properly linked to `libfftw3f.so` which has the missing symbol. However I think I added the proper paths (and libraries) to the build.py script:

[code]

I'm on ubuntu 16.04, with cuda and an up-to-date pytorch installation. Any idea on how I can fi

[2017-09-01 21:02] notsimon commented on #20
Adding 'fftw3f' to the list of libraries actually solved the problem. I was just fooled by `setup.py install` which did not recompile the extension. I'm sorry for the noise.

[2017-09-01 21:02] #20 closed

[2017-09-01 21:41] AjayTalati commented on #15
Ah,..., that might be the problem? This particular machine doesn't have a modern GPU.

Is it possible to install this library, and run it without a GPU?

[2017-09-04 00:03] chalesguo opened #22 "import gpytorch error"
$ sudo python setup.py install
[sudo] password for ubuntu:
running install
running bdist_egg
running egg_info
writing dependency_links to gpytorch.egg-info/dependency_links.txt
writing top-level names to gpytorch.egg-info/top_level.txt
writing requirements to gpytorch.egg-info/requires.txt
writing gpytorch.egg-info/PKG-INFO
reading manifest file 'gpytorch.egg-info/SOURCES.txt'
writing manifest fil

[2017-09-04 21:23] gpleiss commented on #15
I'm not sure what exactly would lead to this problem...

[The build script](https://github.com/jrg365/gpytorch/blob/master/build.py#L12) checks to see if cuda is available for PyTorch, and if so installs the cuda libraries. So it sounds like your PyTorch install thinks there is a GPU available, but you don't have cuda installed...

I would recommend reinstalling PyTorch. If that doesn't work, you

[2017-09-04 21:26] gpleiss commented on #22
Looks like you had an old version of the library, which didn't include the libfft stuff.
Try running `python setup.py install --force`.

[2017-09-05 00:11] chalesguo commented on #22
Try running python setup.py install --force.  this error still exists.

Remove the directory “gpytorch-0.1-py3.5-linux-x86_64.egg”to reinstall, the problem still exists

[2017-09-15 17:29] gpleiss commented on #22
I would upgrade to python 3.6.1

[2017-09-29 05:46] fritzo opened #39 "Provide environment.yml for easy installation using conda"
It looks like conda-forge provides libfftw3: https://anaconda.org/conda-forge/fftw

I haven't tried this, but maybe you could ease the installation process with an `environment.yml` like
[code]
and then simply
[code]
(sorry, I'm not a conda expert)

[2017-09-29 19:06] jrg365 commented on #39
This is an interesting thought, I didn't realize conda provides fftw. I'll try this out and if it works I would probably be in favor of using this as the installation process. @gpleiss?

[2017-11-12 05:20] jrg365 commented on #39
Unless I am mistaken, this has been resolved -- the installation instructions now recommend at a minimum installing fftw through conda, and we now provide environment files for both CUDA and CPU versions of GPyTorch.

[2017-11-12 05:20] #39 closed

[2017-12-20 18:47] gpleiss opened #50 "Implement a generic `root_decomposition` and `root_decomposition_size`."
There might be a better name for this, but this would essentially use the Lanczos decomposition to create a Cholesky approximation. This would be useful for a number of reasons:

- We can then use any lazy variable to sample from a Gaussian distribution
- There's a nice refactor to MulLazyVariable, where all the Lanczos stuff would be hidden inside LazyVariable.

[2017-12-20 18:48] gpleiss opened #51 "Refactor KroneckerLazyVariable"
This would match our new lazy variable style.

[2017-12-20 18:48] gpleiss opened #52 "Merge all DKL changes into master"

[2017-12-20 18:49] gpleiss opened #53 "Separate out exact inference and variational inference"

[2018-01-10 13:54] gpleiss opened #54 "Merge all SKIP changes into master"
Includes refactor of MulLazyVariable

[2018-01-10 20:46] #52 closed

[2018-01-10 20:46] gpleiss opened #56 "Matmul lazy variable should handle lazy variables"

[2018-01-15 22:59] Pinletrot opened #58 "ImportError: cannot import name 'SumVariationalStrategy'"
Here's a minimal test code.

[code]
The output is

---

The reason may be in the method "gpytorch.random_variables.gaussian_random_variable.__add__", where in line 56, it tries to

[code]

However, in "gpytorch/gpytorch/variational/__init__.py", there's no SumVariationalStrategy being imported.

[code]

[2018-01-15 23:13] jrg365 commented on #58
Good catch, just pushed a quick fix to master.

[2018-01-15 23:58] jrg365 commented on #58
I'm actually reopening this -- we don't even have `SumVariationalStrategy` any more, so it is the code in `gaussian_random_variable.py` that needs fixing. Sorry about that -- the import fix seemed to work because I had an old .pyc file lying around.

[2018-01-16 09:55] Pinletrot opened #60 "gradients didn't backward to the end"
I don't have much experience with the Gaussian process and I found this repo very helpful! I met one problem about the GPModel module.

When the input of the Gaussian process model comes from some embedding layers (which are part of the model), **the embedding layers' weights have no gradients** after the loss backward.

Here's an example.

[code]

The output is

I noticed it extends the "torch.nn

[2018-01-17 15:09] gpleiss commented on #60
Hmmm you should be getting gradients! I'll look into this.

[2018-01-17 15:46] gpleiss commented on #60
Alright, I reproduced your issue, and I think I have pinpointed the problem. Some of our interpolation code is not computing gradients, which then prevents embeddings from getting gradients.

Hopefully we'll have a fix for this soon.

[2018-01-17 15:47] gpleiss commented on #10
I think this issue should be resolved now, so marking it as closed.

[2018-01-17 15:47] #10 closed

[2018-01-17 16:00] gpleiss commented on #58
Fixed by #59

[2018-01-17 16:00] #58 closed

[2018-01-17 16:23] gpleiss opened #61 "Interpolation expects things to be floats"

[2018-01-17 17:56] #51 closed

[2018-01-23 14:13] gpleiss commented on #53
This is fixed on the `alpha_release` branch.

[2018-01-23 14:13] #53 closed

[2018-01-23 15:34] gpleiss opened #65 "marginal_log_likelihood should be it's own function, not necessarily tied to GP models"

[2018-01-23 19:34] jrg365 opened #66 "Make global flags (fast predictive variances, use Toeplitz, etc) python contexts"

[2018-01-24 15:01] gpleiss commented on #56
Closed by #64

[2018-01-24 15:01] #56 closed

[2018-01-24 15:02] gpleiss commented on #50
Closed by #64

[2018-01-24 15:02] #50 closed

[2018-01-24 23:01] Balandat opened #67 "Cannot compute gradient of variance"
First of all, this package looks really great.

I'd like to compute the gradient of the variance of a prediction, but this fails with
`RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation`.

To repro (here `model` is the trained/conditioned model from the simple_gp_regression.ipynb example):
[code]

I tried to track down where this happens, b

[2018-01-25 03:13] gpleiss commented on #67
I think I know what the issue is, and it should be fixed on the `alpha_release` branch. We're holding off merging in that branch until all of the rest of our changes are in place (probably mid February).

In the meantime, I think you should also be able to fix this by setting `gpytorch.functions.fast_pred_var = False` at the top of the file.

(Also, feel free to try out the `alpha_release` branch,

[2018-01-25 04:35] Balandat commented on #67
So it appears `fast_pred_var = False` by default, and in particular this is the case also in my code.

I'll look into trying the `alpha_release` branch.

[2018-01-25 14:10] gpleiss commented on #67
Hmm, I think @jrg365 got BayesOpt to work with gradients at one point. I'll have him investigate this some more.

[2018-01-26 01:00] Balandat opened #68 "import failure on alpha_release branch"
The following import error happens on the alpha_release branch (relevant changes here: https://github.com/jrg365/gpytorch/commit/935fca907a495a282c8c760fdb2567e4e1a7fe04)

[code]

[2018-01-26 01:42] jrg365 commented on #68
@gpleiss Looks like there are some python 3 compatibility that slipped by us because Travis isn't running on the alpha release branch and we both happen to have been using python 2 recently. I'm looking at fixing them now.

A lazy way to get Travis running the tests on the alpha branch would be to just make a PR for it.

[2018-01-26 01:48] jrg365 commented on #68
Okay, looks like it was just those three import statements luckily -- I am closing this since (1) I was able to reproduce the issue, but (2) all tests now pass for me in both python 2 and python 3.

[2018-01-26 01:48] #68 closed

[2018-01-26 02:32] Balandat commented on #68
great, thanks for the fix

[2018-01-26 02:34] Balandat commented on #67
I just tried this on the latest commit of alpha_release (525795adedc79bc77d5c61f238a10255b83078d2), issue persists

[2018-01-26 12:42] gpleiss commented on #67
Okay... I'll investigate this more today.

[2018-01-26 20:46] jrg365 commented on #67
With de72a06, sum_of_vars.backward() now produces gradients for test_x as expected.

[2018-01-26 22:27] Balandat commented on #67
great, thanks for the quick fix!

[2018-01-26 22:27] #67 closed

[2018-01-27 16:28] gpleiss commented on #60
Okay - we have a fix for this on the `alpha_release` branch.

The interface has changed slightly on this branch, so you'll probably have to update your model a bit.
Could you test out your model on the `alpha_release` branch and see if it works?

[2018-01-27 16:40] gpleiss commented on #60
Actually - I ported your example to work on the `alpha_release` branch:

[code]

Note that the `nn.Embeddings` layer has to live inside the `GP` module.

[2018-01-27 16:40] #60 closed

[2018-01-29 05:51] lizix7 commented on #22
Hi @chalesguo ,
I got the same error with you.

This is the error message.

ImportError: dlopen(/usr/local/lib/python3.6/site-packages/gpytorch/libfft/_libfft.abi3.so, 2): Symbol not found: _fftwf_destroy_plan
  Referenced from: /usr/local/lib/python3.6/site-packages/gpytorch/libfft/_libfft.abi3.so
  Expected in: flat namespace
 in /usr/local/lib/python3.6/site-packages/gpytorch/libfft/_libfft.abi

[2018-01-29 14:52] gpleiss commented on #22
Ah - I think I know what's going on.
Make sure you're not running your python script from the `gpytorch` folder.

See: https://github.com/pytorch/pytorch/issues/1633

@lizix7 let me know if this fixes the issue!

[2018-01-29 17:42] lizix7 commented on #22
Hi @gpleiss ,

Thanks for your response. But I was not running my script from the gpytorch folder.
I used homebrew to install fftw3. I think it was the library linking issue here.

[2018-01-29 22:39] monicaMRL opened #69 "Multi dimension Target"
Hi,
Thank you for amazing Repo. Is there an example which shows how to work with given code when the input and Target has dimensions like [NxM] where N is features and M number of samples. I checked the ones with multiple dimension inputs but it still has only one dimensional target.

Best,
Monica.

[2018-01-30 00:19] gpleiss commented on #69
Hi Monica,

I think the multitask example might be what you're looking for: https://github.com/jrg365/gpytorch/blob/master/examples/multitask_gp_regression.ipynb

In this example, you input should be `d + 1` dimensional, where the first `d` dimensions are the input features, and the last dimension specifies which of the target outputs you're interested in for that sample.

So if your target variab

[2018-01-30 00:20] gpleiss commented on #22
@chalesguo did you also use homebrew to install fftw3?

[2018-01-30 00:21] gpleiss commented on #22
@lizix7 can you copy the output when you run `python setup.py install`? Also, can you include the output when you run `ls gpytorch/libfft`?

[2018-01-30 02:33] lizix7 commented on #22
Hi @gpleiss

I used your

to install gpytorch. So I do not have setup.py there.
This is what I have in the terminal:
`
➜  gpytorch ls libfft
`
`
__init__.py     __pycache__     _libfft.abi3.so
`

Thanks,
Zhixing

[2018-01-30 02:46] gpleiss commented on #22
Hmm okay - maybe it's a linking issue then with `fftw`. Can you try unlinking/relinking, or uninstalling and reinstalling?

[2018-01-30 02:53] lizix7 commented on #22
I have tried both, but neither works.
The location of fftw3 that brew installed is at /usr/local/lib.
Then I checked the linking of _libfft.abi3.so
`
➜  libfft otool -L _libfft.abi3.so
_libfft.abi3.so:
	/usr/local/opt/fftw/lib/libfftw3.3.dylib (compatibility version 9.0.0, current version 9.7.0)
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1252.0.0)
`

I will try to cr

[2018-01-30 03:20] jrg365 commented on #22
**TL;DR** adding 'fftw3f' to the list of libraries on line 9 of `build.py` might fix the problem, as it did in #20.

I think there is some difference between libfftw and libfftw**f** -- at least, function names appear to be different.

`➜  libfft git:(alpha_release) ldd _libfft.abi3.so`
Reveals:
`        linux-vdso.so.1 =>  (0x00007ffcf65c3000)`
`        libfftw3.so.3 => /usr/lib/x86_64-linux-gnu/

[2018-01-30 04:10] jrg365 commented on #22
Yeah, if you'd be willing to download the repo and build it yourself with that fix that'd be much appreciated since it'd confirm the fix works! Then we can make a PR that fixes it.

[2018-01-30 04:45] lizix7 commented on #22
Hi @jrg365 ,

I have downloaded the repo; change `libraries = ['fftw3','fftw3f']` in build.py.
Then I did ` python3 setup.py build` and `python3 setup.py install`.
Next, I ran my regression script. But the problem still exists.
Then I double checked the `_libfft.abi3.so`.

`➜  libfft otool -L _libfft.abi3.so`
`_libfft.abi3.so:`
`
	/usr/local/opt/fftw/lib/libfftw3.3.dylib (compatibility version 9.0

[2018-01-30 04:56] jrg365 commented on #22
This is so strange. I'm not super familiar with the internals of OS X -- is there an equivalent of `readelf` / `objdump` that would show if `libfftw3.3.dylib` has either of `fftw_destroy_plan` or `fftwf_destroy_plan`? Those are functions that should definitely exist in libfftw.

I'm honestly kind of wondering if something strange is going on with the homebrew install -- on linux, it works both com

[2018-01-30 05:14] lizix7 commented on #22
I did not see fftw_destroy_plan or fftwf_destroy_plan.
This is the first time I use the similar command in MacOs.
But I have to say this is strange too.

`➜  lib otool -IHGv libfftw3.3.dylib`
[code]

[2018-01-30 05:38] jrg365 commented on #22
Okay, that library file doesn't actually seem to have ANY of the symbols I'd expect in libfftw -- I'll try to get it working with a homebrew installation and see if I can make any progress, but in the meantime I'd suggest either installing from source, using conda as we recommend in the readme, or using fink as recommended on the fftw webpage http://www.fftw.org/install/mac.html

[2018-01-30 05:50] lizix7 commented on #22
Hi @jrg365 ,

Thanks.
Homebrew is so much easier and it made me really lazy. :D
I will try to install it in another way.
Still, have a good night.

[2018-01-31 05:40] monicaMRL commented on #69
Thank you so much for the answer. I'll try out with the way you suggested and will write back if I am able to come up with different solution.

[2018-02-02 03:04] lizix7 commented on #22
@jrg365 Any good news?

[2018-02-12 12:57] gpleiss commented on #22
@lizix7 sorry for the slow response. What MacOS version are you using? Also, can you uninstall GPyTorch and reinstall, and paste in the installation output?

[2018-02-12 14:32] gpleiss commented on #66
Fixed  in https://github.com/jrg365/gpytorch/commit/bf4b15d005bb2c556b4683bca97c7699fad4151b

[2018-02-12 14:32] #66 closed

[2018-02-15 20:07] gpleiss opened #71 "Fix flakey Kronecker-product regression unit test"

[2018-02-15 21:22] gpleiss commented on #61
Fixed in 34af54a

[2018-02-15 21:22] #61 closed

[2018-02-19 20:38] jrg365 commented on #71
Fixed on alpha_release

[2018-02-19 20:38] #71 closed

[2018-02-20 14:15] gpleiss commented on #65
![](https://github.trello.services/images/mini-trello-icon.png) [MarginalLogLikelihood objects](https://trello.com/c/yUgPShlV/107-marginalloglikelihood-objects)

[2018-02-26 14:50] Balandat opened #74 "Ensure compatibility with breaking changes in pytorch master branch"
This is a run of the simple_gp_regression example notebook on the current alpha_release branch. Running kissgp_gp_regression_cuda yields similar errors

[code]

[code]

[code]

[code]

[code]

    ---------------------------------------------------------------------------

    TypeError                                 Traceback (most recent call last)

    <ipython-input-8-bdcf88774fd0> in <module

[2018-02-26 15:20] gpleiss commented on #74
I’m not getting the same error when I’m running the notebooks. What version of PyTorch are you using?

On Feb 26, 2018, 8:50 AM -0600, Max Balandat <notifications@github.com>, wrote:

[2018-02-26 16:10] Balandat commented on #74
This is on the pytorch github master brach (commit 492466f25fdf12b62f2043587130e9ee393e4b1c, to be precise)

[2018-02-26 16:27] gpleiss commented on #74
Oh I see. We haven't tested the code on the latest version of PyTorch. I think right now everything is written for 0.3.1.

[2018-02-26 16:53] Balandat commented on #74
Let me see if I can track down the cause of this.

[2018-02-26 18:42] Balandat commented on #74
Turns out this is pretty hard to debug in my setup :(

[2018-02-26 19:10] Balandat commented on #74
fwiw, here are a couple of breaking changes over the last pytorch release:

#### TORCH.AUTOGRAD.FUNCTION OPERATES ON VARIABLES IN THE FORWARD() AND BACKWARD()

Previously, Function operated on Tensors in the forward() and sometimes in the backward(). Now,
`autograd.Function` operates on Variables in both the forward() and backward(). The returned values
must be Variables (and not Tensors).

#### S

[2018-02-26 20:31] gpleiss commented on #74
What we should do is start a pytorch0.4 branch that is compatible with this new change. I don’t know if we’d be able to have a version that is compatible with both 0.3 and 0.4 with that function breaking change.

We’re planning on merging alpha-release into master in a day or two. Once we do that we could start with a pytorch0.4 branch.

In the meantime, is it possible for you to work on pytorch 0

[2018-02-26 22:41] monicaMRL commented on #69
In the example input is not changed to have n+1 dimensions instead index is passed to forward so should I make input n+1 dimension with last dimension as index?

Also in output I pass all my target dimension or only one which the input corresponds to? Meaning, my target should look like this --> (my target dim is 5)
train_y = np.concatenate([Y[:, 0], Y[:, 1], Y[:, 2], Y[:, 3], Y[:, 4]])
or this,
t

[2018-02-26 23:41] Balandat commented on #74
That sounds like the right thing to do. How much work do you estimate it to make everything 0.4-compatible (assuming this function breaking change is the only thing)?

Unfortunately my setup is somewhat complicated, which makes working on anything but pytorch master surprisingly hard to do. TBH, it's probably easier to start working on making things compatible.

[2018-02-26 23:52] jrg365 commented on #74
If those are the primary breaking changes, it might not be too much trouble. We'll need to actually install pytorch 0.4 to confirm, but for your error for example I would hazard a guess that the issue is just that we use `torch.eye` here:

https://github.com/cornellius-gp/gpytorch/blob/3e117ca2bde5e2ef5516a1cf930dc743c22aaf83/gpytorch/functions/add_diag.py#L11

which, since the inputs are now Vari

[2018-02-27 01:15] Balandat commented on #74
Yeah I tried that and it solved the issue with add_diag, but got caught somewhere else. I'll just have to put some time aside to work through this.

[2018-02-27 14:31] #65 closed

[2018-02-28 14:46] gpleiss commented on #69
Yes, your input should be `d+1` dimensional. Alternatively, you can have two input variables: one `d` dimensional matrix with the features, and one vector with the index.

Your target vector should look like `train_y = np.concatenate([Y[:, 0], Y[:, 1], Y[:, 2], Y[:, 3], Y[:, 4]])`

[2018-02-28 14:48] gpleiss commented on #74
`alpha_release` is now merged into master, fyi

[2018-02-28 14:53] Balandat commented on #74
Thanks. I have a few fixes that make the simple_gp_regression work with the current pytorch master, but it appears there is a lot more related to the Tensor/Variable and sum breaking changes that requires fixing.

I will start a new branch for what I have and send a pull request.

[2018-02-28 23:41] jrg365 commented on #74
Is there a link where I can read about the breaking changes? I didn't actually see anything about it at https://github.com/pytorch/pytorch/releases.

I am almost certainly worried about nothing here, but for the Variable change, I just want to sanity check that we fix it in a not-totally-ridiculous way. In particular, right now `linear_cg` (and `lanczos_tridiag` are intended **specifically** to op

[2018-03-01 01:46] Balandat commented on #74
I guess the reason you didn't see anything in the release notes is that none of this has made its way in a public release yet. But I agree that things like this should be communicated more clearly, so folks like you don't operate under false assumptions. Let me see what I can dig up on this.

Anyway, these differences are minor details compared to the distinction between Tensors and Variables disa

[2018-03-01 01:58] Balandat commented on #74
Looks like once these additional changes go in, the previous ones may actually not be breaking anymore...

[2018-03-01 04:34] jrg365 commented on #74
Okay, I gave the issue you linked a quick read, thanks for the pointer!

I am not 100% confident about this, but it sounds like we may be good on the efficiency front because PyTorch will no longer build computation graphs when using variables/tensors that have `requires_grad=False`.

I guess the simplest thing to do will just be to run some timing experiments once the code actually runs through.

[2018-03-02 23:44] Balandat commented on #74
Here's a post about the breaking changes: https://github.com/pytorch/pytorch/wiki/Breaking-Changes-from-Variable-and-Tensor-merge

[2018-03-06 15:55] gpleiss commented on #14
I'm going to close this issue for now. Each of the example notebooks is now much more well documented, and we have a README guide to help guide model building.

We hope to have bigger documentation in the future, which will outline more about the internals. For now, this repo should be more usable though.

[2018-03-06 15:55] #14 closed

[2018-03-07 04:02] Balandat commented on #74
Oh, this is fun. Now a call like `self._tensor_cls = type(self.representation()[0].data)` like [here](https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/lazy/lazy_variable.py#L566) will not return the type of the tensor, but `Variable`, which of course breaks things. Note that
[code]

Looks like once the Variable/Tensor merge is somewhat more stable, what needs to happen is that all re

[2018-03-07 04:13] darbour commented on #74
As @gpleiss suggested, it seems like a fairly reasonable solution would be to have a branch that assumes the latest PyTorch push the github repo. Hopefully after the Tensor/Variable merge things will stabilize more...

[2018-03-07 20:59] Balandat opened #77 "Move to unittest testing framework"
Let's move the testing framework to python's unittest. The main reason for this that it's easier to integrate continuous testing into external build environments.

[2018-03-08 14:20] Balandat commented on #77
Done in https://github.com/cornellius-gp/gpytorch/pull/78

[2018-03-08 14:20] #77 closed

[2018-03-08 21:32] Balandat commented on #74
This will be fixed in a backward-compatible way by https://github.com/cornellius-gp/gpytorch/pull/79.

By breaking compatibility with 0.3.0, we can use much cleaner api calls throughout - apart from getting rid of the Tensor/Variable distinction, we can instantiate a tensor of a particular data type by doing
`torch.zeros(dim1, ... dimk, dtype=some_other_tensor.dtype)`. Since this properly deals wi

[2018-03-09 02:39] gpleiss commented on #74
I would definitely be in favor of a `dtype` parameter for LazyVariables.

[2018-03-09 03:41] Balandat commented on #74
Cool, I have a local branch working, will push it to the pytorch_master branch soon.

[2018-03-09 14:39] gpleiss opened #80 "Fix seed for tests running on CI"
A few of the tests fail intermittently. For the most part, I don't think that these failures represent any big errors or numerical instabilities.

I propose locking down the seed for the tests (at least only on CI, for now). This way we'll actually listen to TravisCI when it breaks.

cc/ @jrg365

[2018-03-09 19:07] gpleiss commented on #80
This has been fixed by b1cf9a84.
By default, many of the integration-y tests lock down the seed.

To run the tests without seeds locked down, run
[code]

[2018-03-09 19:07] #80 closed

[2018-03-13 00:25] Balandat opened #81 "Add simple api for combining kernels"
There should be a simple API for combining kernels, which allows concise syntax and a lot of flexibility, while at the same time preventing users from shooting themselves in the foot (e.g. break closure by subtracting kernels, etc).

@darbour has some prototype of this, which defines the appropriate operators on the base Kernel class, e.g.:

[code]

[2018-03-13 00:30] Balandat opened #82 "Add support for ARD"
The current Kernels all use a single length scale. Adding support for ARD is straightforward by adding a Parameter for every dimension. E.g. for the RBFKernel this could be something like the following:

[code]

However, we don't want to have to re-implement this for every Kernel, so we should come up with a better abstraction for this.

[2018-03-13 15:06] jrg365 commented on #81
In the current code base, adding kernels would be accomplished by doing something like:
[code]
Since `gpytorch.lazy.LazyVariable` defines `__add__`, this works even when using things like the `GridInterpolationKernel` for scalable inference, although when using specifically models that decompose over sets of dimensions the preferred method is to just use `AdditiveGridInterpolation`.

We could defi

[2018-03-13 15:54] gpleiss commented on #82
@jrg365 just talked about this. We're thinking it would be good to have lengthscales live on the base kernel class:

[code]

Thoughts?

[2018-03-13 16:44] darbour commented on #82
I agree with @gpleiss and @jrg365 about the length-scales living in the base Kernel class. Since we're likely to re-use them for a variety of kernels, it's much cleaner to just have everything use the same base representation.

[2018-03-13 16:46] darbour commented on #81
I think the advantage of being able to add the kernels directly (rather than the LazyVariables) is that it's a bit more explicit / easy to interpret, since we'd define the Additive kernel in the constructor where the component kernels are defined. It's certainly not critical by any stretch, so if you feel like it would clutter or confuse the codebase I'm happy to drop this.

[2018-03-13 17:52] jrg365 commented on #81
@gpleiss and I just talked about it , and we think having the option could be good, since it doesn't really exclude the first option. It could also make it easier / feasible to use, e.g., `AdditiveGridInterpolationKernel` with a composite base kernel, so it does increase the flexibility of GPyTorch.

Here are two design considerations:

- I would suggest we follow the design of GPy as well as our

[2018-03-13 17:57] darbour commented on #81
Great, I'll have a pull request up this afternoon. The semantics follow your suggestions in the first point for both addition and multiplication. Re: point two, I have a stacked diff that allows for declaring the 'active dimensions' for a kernel in the constructor. Hopefully that is up today as well, but it may take until tomorrow.

[2018-03-16 17:15] #81 closed

[2018-03-18 10:19] imsrgadich opened #85 "kernels/spectral_mixture_kernel.py"
Line 63:  `exp_term = (distance * mixture_scales).pow_(2).mul_(-2 * math.pi ** 2)`

According to Wilson 2013, the mixtures scales are not squared. Am I missing something here?

[2018-03-18 12:26] jrg365 commented on #85
In theory, since they are learned parameters it should not matter much. You can think of this as learning the mixture standard deviations instead of variances, if you'd like.

In practice, the only thing it might be worth changing it for is stability, since we've noticed that directly learning the lengthscale instead of the square root lengthscale for RBF kernels is occasionally more numerically s

[2018-03-19 07:04] imsrgadich commented on #85
thank you for the quick response. I need to experiment with standard deviations and variances before concluding which is numerically stable.
One more question, why are the scale bounds from [-100,100]? Shouldn't they be positive?

[2018-03-19 09:00] imsrgadich commented on #85
Just noticed those are log bounds. makes sense now.

[2018-03-19 10:39] Quenjy opened #87 "Windows installation problem"
Hello,

I'm currently trying to install gpytorch for Windows 10 and keep running into errors. I have installed both pytorch v0.3.1 and gotten the fftw-3.3.5-dll64 files, which I have added to my path.

The first error happened when I ran the "conda install fftw cffi pytorch torchvision cuda80 -c conda-forge -c pytorch" command. I kept running into this error

![image](https://user-images.githubuse

[2018-03-19 12:41] jrg365 commented on #87
I think the issue might be as simple as we haven't tested GPyTorch (or PyTorch for that matter) on Windows directly -- only on the windows subsystem for linux. You shouldn't need torchvision for anything other than the Mnist example where I think we use it to download mnist. As for the error you are getting, it might be that the file has linux path specifications in it?

I think I remember reading

[2018-03-19 15:41] Quenjy commented on #87
Alright, thank you for the quick answer!
I haven't worked with the windows subsystem for linux yet, but I will try that out soon

Feel free to close this thread when you see fit, which might be now or after you have tested your own installation to give a conclusion, I'll probably reopen it if it still doesn't work.

[2018-03-20 14:23] Balandat commented on #82
Done in https://github.com/cornellius-gp/gpytorch/pull/86

[2018-03-20 14:23] #82 closed

[2018-03-21 11:11] imsrgadich opened #89 "Installation error"
Hi, while installing the package I get the following error.
[code]
I'm on Ubuntu 16.04, here is my conda list.
[code]
The gcc version currently is
[code]

Any help is really appreciated.

[2018-03-21 11:47] jrg365 commented on #89
Since you are on Ubuntu, could you try installing fftw via `apt-get`? I think the package names are `libfftw3-3` and `libfftw3-dev`, but it might find them if you just try `fftw3`.

I can look further at what the package name is when I'm actually in front of a computer if none of those work :-).

@gpleiss I think I've run in to this issue, I'm not actually totally convinced that installing fftw fr

[2018-03-21 12:14] imsrgadich commented on #89
Problem solved after installing `libfftw3-3` and `libfftw3-dev`. But I used `aptdcon` instead of `apt-get` as I'm on university desktop.

[2018-03-21 17:29] jrg365 opened #91 "GPyTorch Does Not Find FFTW Installation From Conda Forge"
Similar to #89, I and Eric (who I just met with and showed me this) can verify that it seems like the standard installation instructions don't find fftw as installed from conda-forge.

Things do work when installing fftw from source or from `apt-get`, so we should either figure out how to add the correct paths to where conda installs fftw, or change the installation instructions to recommend insta

[2018-03-21 20:36] #89 closed

[2018-03-21 20:36] gpleiss commented on #91
Closed by #92

[2018-03-21 20:36] #91 closed

[2018-03-21 20:37] gpleiss commented on #89
@imsrgadich I think we've solved the issue more generally, but it seems that you've already got a good workaround :)

[2018-03-21 20:39] gpleiss commented on #15
@AjayTalati we're going to close this issue, since much of the code has changed since September. If you still have installation issues feel free to open a new issue!

[2018-03-21 20:39] #15 closed

[2018-03-21 20:41] gpleiss commented on #22
@lizix7 or @chalesguo - if you're using Anaconda, this should be fixed now by #92. We now recommend installing fftw through Anaconda:

[code]

Give this a shot. If you still have installation issues, feel free to open another github issue.

[2018-03-21 20:41] #22 closed

[2018-03-22 15:26] imsrgadich commented on #85
Just a note here. The minimum distance computation is unstable I believe.

`min_dist = torch.min(train_x_sort[:, 1:, :] - train_x_sort[:, :-1, :], 1)[0]`

There are instances where minimum is `0` and this might not work. What are your thoughts on this?

[2018-03-22 15:28] gpleiss commented on #85
That's a good point. It might be good to add `1e-5` or something to the minimum distance.

[2018-03-22 16:11] imsrgadich commented on #85
I think taking the next minimum distance would be a good starting point.

[2018-03-23 00:20] Balandat opened #94 "Test failure in test_function_factory.py"
The offending line is https://github.com/cornellius-gp/gpytorch/blob/master/test/util/test_function_factory.py#L243

The last `.dot` operation errors with
[code]

I'm not entirely sure what this code does, so I'll leave this for @gpleiss to fix.

Not sure if that happens on stable pytorch, but it definitely happens on pytorch master. Given that docs back to 0.3.0 state that .dot does not broadcast

[2018-03-23 03:42] rtz19970824 opened #96 "Sparse GP examples and deep GP examples"
Hi,

Thanks for your amazing work. Will you consider add some sparse GP examples and deep GP examples?

Regards

[2018-03-23 03:59] jrg365 commented on #96
The KISS-GP examples are instances of a sparse GP algorithm. I don't think we have specific plans to implement other techniques, e.g. SGPR/SVGP in the immediate future. SGPR wouldn't necessarily be challenging to implement as a new `LazyVariable`, but our internal "to do" list is pretty long.

To be honest, I'm not totally sure what would be involved in implementing deep GPs. We do support deep ke

[2018-03-23 05:28] rtz19970824 commented on #96
Thanks for your reply. ^_^
I think there may be some interests on a more general sparse GP. As you say, implementing SGPR/SVPG is not difficult with your library, but I think it's still a good way to help the beginners and show your library's flexibility.
DKL is an outstanding work. But I'm not sure if GP community will return to deep GPs in the future. I'm trying to implement deep GPs now. Howeve

[2018-03-23 13:37] gpleiss commented on #94
Looking into this now. I'm sure we can add some branching code that should satisfy pytorch 0.3 and pytorch master

[2018-03-23 14:02] gpleiss commented on #94
Oh whoops I just realized #94 is addressing this issue :grin:

[2018-03-23 14:07] gpleiss commented on #94
I'm going to try to add PyTorch master to our list of Travis checks. Hopefully then we can avoid issues like this in the future (or at least until 0.4 becomes an official release).

[2018-03-23 14:12] gpleiss commented on #85
@imsrgadich any chance you'd be willing to make a PR with these proposed changes?

[2018-03-23 14:19] imsrgadich commented on #85
Yes. I can. :) I will send the changes.
On 23 Mar 2018 4:13 PM, Geoff Pleiss <notifications@github.com> wrote:@imsrgadich any chance you'd be willing to make a PR with these proposed changes?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-23 15:24] Balandat commented on #94
Great, I was about to suggest doing that.

For the record: This is solved in #97, not #95

[2018-03-23 15:24] #94 closed

[2018-03-26 19:17] imsrgadich commented on #89
I get the same error on MacOS as well.

[2018-03-27 20:32] gpleiss commented on #89
@imsrgadich can you print the macos error? Were you using the latest version of master? And did you install fftw using anaconda? `conda install fftw -c conda-forge`?

[2018-03-27 20:56] imsrgadich commented on #89
Hi, I will try to reproduce the error and post it here.

Can you tell me how to get rid of this error

`ImportError: No module named 'gpytorch.libfft._libfft'`

This is after adding `libraries = ['fftw3','fftw3f']` (from issue #20) to `build.py` and built it using `python setup.py build`. I tried reinstalling everything using the aforementioned process but in vain. Any help is apprecaited.

Full e

[2018-03-27 21:07] gpleiss commented on #89
Did you try `conda install fftw -c conda-forge`?

[2018-03-28 07:06] imsrgadich commented on #89
Worked on Ubuntu but no luck on MacOS.

[2018-03-29 14:30] imsrgadich commented on #89
Its strange that Ipython doesn't give the error but PyCharm IDE gives it on Ubuntu. Its completely baffling to me.

[2018-03-29 16:10] imsrgadich commented on #89
There are few things I'm not able to understand. When I run `python setup.py build` the build files are created and stored in `/build/`. This creates two directories **lib.linux-x86_64-3.5** and **temp.linux-x86_64-3.5**. The latter directory has **gpytorch.libfft._libfft.o** which the python code is searching in `/gpytorch/libfft/`  which is empty. Is there something the build process is missing?

[2018-03-30 14:21] gpleiss commented on #89
I can't reproduce this error. Here's the steps I've taken on MacOS (w/o CUDA):

[code]

Then, when I'm working in another directory, in an ipython shell
[code]

[2018-04-01 20:04] imsrgadich commented on #89
Hi can you please share directory tree of `/gpytorch/` (`brew install tree`). I want to compare with mine. Thanks.

[2018-04-03 16:01] imsrgadich commented on #85
I ran the unit tests after making the changes. here it is.

[code]

[2018-04-05 10:15] imsrgadich commented on #85
I haven't tested that yet! i will let you know once I have them. Are there any guidelines (or datasets or anything) where you faced the problem of tuning the variance? I could use that in testing.

Thank you.

[2018-04-12 21:24] samuelstanton opened #102 "Bug with GridInterpolationKernel and Variables with 'requires_grad=True'"
Currently trying to evaluate a GP using GridInterpolationKernel on test points stored as torch.nn.Parameter.

Line 89 in utils/interpolation.py results in an assertion error from
`assert not ctx.needs_input_grad[2]` in torch/autograd/_functions/tensor.py

You can produce this error by putting
`x = Variable(torch.Tensor(1, 2).uniform_(), requires_grad=True)`
`model(x)`
at the end of the kissgp_kron

[2018-04-13 19:58] gpleiss commented on #102
Which version of PyTorch are you using?

[2018-04-16 12:33] gpleiss commented on #102
Sorry for the slow reply. I'll investigate today.

[2018-04-16 15:12] jacobrgardner commented on #102
@samuelstanton @gpleiss Fixed by 8b50f2f48069652f90bc32baccb6f29ca14bfb44

[2018-04-16 15:12] #102 closed

[2018-04-17 15:45] ssydasheng opened #103 "Inverse & Root for KroneckerLazyVar"
For `KroneckerLazyVariable`, which you can easily get exact inverse and root, why you still go for conjugate gradient & lanczos ? These seems be slower to me cuz the true size of matrix is really big, by small steps of iterations, it might be far from a good solution.

[2018-04-17 15:52] jacobrgardner commented on #103
The primary reason is that a `KroneckerLazyVariable` can represent the Kronecker product of other `LazyVariables`, which we might not want to evaluate or invert explicitly. This is true, for example, when doing KISS-GP with Kronecker structure on multiple dimensions (https://github.com/cornellius-gp/gpytorch/blob/master/examples/kissgp_kronecker_product_regression.ipynb).

It's true that if `Krone

[2018-04-17 16:02] jacobrgardner commented on #103
It may also just generally be hard to justify using inversion algorithms other than CG at this point, even when they are available. CG typically gives fairly good solves with a very small number of iterations, making it a compelling choice even when an exact inverse is possible. For example, even for exact GPs, k iterations of CG requires O(kn^2) time compared to O(n^3) time to compute a Cholesky

[2018-04-18 23:43] ssydasheng commented on #103
Ah, I missed out `Multiplicative grid interpolation kernel` before. Thank you.

[2018-04-21 21:24] #103 closed

[2018-04-25 19:40] Balandat opened #104 "Model fitting fails when using MaternKernel"
Using `self.covar_module = MaternKernel(2.5, log_lengthscale_bounds=(-5, 5))` instead of `RBFKernel(log_lengthscale_bounds=(-5, 5))` in the basic `simple_gp_regression.py` example results in the stack trace below in the first iteration of the optimization:

[code]

[2018-04-25 20:38] gpleiss commented on #104
Just reproduced this myself. Looking into it now...

[2018-04-25 20:55] #104 closed

[2018-04-25 20:57] gpleiss commented on #104
The real issue was that we were getting some NaN values from the gradients of the Matern kernel. I fixed this by adding 1e-8 to the `distance_over_rho`.

I also made sure linear_cg throws a better error, so it's easier to catch these errors in the future.

[2018-04-25 21:05] gpleiss commented on #74
Finally have Travis set up for PyTorch 0.4 and 0.3.1. Looks like all the tests pass, so closing this issue.

Looking into the future, @jacobrgardner and I are planning on cutting an official alpha release (i.e. on pip, conda). As we're looking towards the beta, we'll start dropping support for PyTorch 0.3.

[2018-04-25 21:06] #74 closed

[2018-04-25 21:35] Balandat commented on #104
thanks for the lightning fix!

[2018-04-26 23:54] Balandat commented on #74
I guess 0.4 is now considered stable: https://github.com/pytorch/pytorch/releases/tag/v0.4.0

[2018-04-27 21:07] Balandat opened #106 "Hard-coded tensor types in LogNormalCDF"
The tensors initialized in LogNormalCDF are cpu float32 tensors, which causes test a failure when running the GPU test: https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/functions/log_normal_cdf.py#L51 (the adding of r_i fails).

This will probably also cause issues when running anything involving LogNormalCDF under a float64 or other data type

[2018-04-30 15:42] gpleiss commented on #106
Taking care of this now!

[2018-04-30 15:47] #106 closed

[2018-05-01 11:10] gpleiss commented on #87
Now that we've switched to PyTorch 0.4, which supports Windows (officially), I'm imagining that everything should work! @Quenjy give it a shot?

[2018-05-01 11:10] #87 closed

[2018-05-02 13:29] Balandat opened #110 "Get rid of Variable"
In pytorch 0.4, variables are just a legacy concept. Instead, tensors now take the `requires_grad` argument. Since master is now 0.4+, we should clean things up and replace all occurrences of `Variable` in the code with the appropriate Tensor equivalent.

[2018-05-02 19:55] Balandat commented on #110
yeah no rush, just putting it on the to do list

[2018-05-03 13:32] Balandat opened #112 "Matern kernels handle inhomogeneous lengthscales incorrectly when using ARD"
The way the distances normalized by lengthscales are being computed works fine if the lengthscales are the same for each input dimension, but fails under ARD.

We can simplify the computation similar to the RBF kernel. This may have some perf implications for small size problems on the CPU, but some simulations suggest this will also speed up things on the GPU.

Will send out a pull request shortl

[2018-05-03 16:12] stanbiryukov opened #113 "White noise kernel?"
Hi there,

Thanks for the excellent library.  Is it possible to either add a white noise kernel or have an option to include input variance to the diagonal of the kernel matrix during fitting?  If I have known variance on my input data, it's not clear to me how I can incorporate that in the model examples.

[2018-05-03 17:36] lerkoah opened #114 "covariance matrix and matrix multiplication"
Hi,

I'm interesting in implement my own covariance matrix. I don't understand the forward step yet. But my covariance matrix have the form:

`K(i,j) = sum_k sum_ l W(k,i) K_{base}(k,l) W(l,j)`

If you want, you can write this as a matrix multiplication:

`K = W^T K_{base} W`
I have stored the matrix W in a numpy array.
Is it some way to implement this in gpytorch?

Regards,
Lerko.

[2018-05-03 18:46] Balandat commented on #113
@darbour is working on implementing that. Pull request should be incoming soon.

[2018-05-03 20:11] jacobrgardner commented on #114
If `W` is just a constant known matrix, you can convert it to a PyTorch tensor using `torch.from_numpy`, and then assuming you don't need sparse GP methods the easiest way to implement this is to simply perform the matrix multiplication in the `forward()` method of the GP model. For example, `forward` of `ExactGPModel` from the exact GP regression example notebook might now look like:

[code]

ass

[2018-05-04 02:02] andrewcz opened #117 "Additional algorithms - for comparisons"
Hi all,
Love the package! Looks super cool blush!
Was wondering if the below algorithms could be added-

https://gist.github.com/vdutor/0c720e1399e6bf7eae5c2bf32cdfb47d

https://github.com/ZilongTan/sigp

Many thanks,
Best,
Andrew

[2018-05-04 13:18] gpleiss commented on #117
Thanks for those pointers @andrewcz ! The autoregressive model could probably be built with existing components. SIGP might require a bit more thinking.

We are open to PRs if you want to try your hand at implementing one of these models :grin:

[2018-05-04 17:39] lerkoah commented on #114
Thanks, I'm going to test this!

[2018-05-04 18:53] jacobrgardner opened #119 "RBF Kernel Change Breaks Testing Code"
The change to RBFKernel in 84fccd898c45c08279fb5c109e6e234f3a47588a may break something about our prediction code.

I am not totally sure what the problem is yet, but I isolated this as the problem with `git bisect` and have a reasonable test case where results are significantly worse with the commit in compared to after a revert commit.

It seems like the stability issues we encountered when maki

[2018-05-05 11:34] Balandat commented on #119
I am not sure what the problem would be other than maybe some issue with how the bounds on the lengthscales are being handled. Did you adjust the bounds appropriately given the new definition?

Can you post your test case?

[2018-05-07 18:44] jacobrgardner commented on #96
SGPR is now implemented via the `InducingPointKernel` kernel and has an associated test at https://github.com/cornellius-gp/gpytorch/blob/master/test/examples/test_sgpr_regression.py. We eventually plan on making sure it is compatible with our variational inference, which will round out an implementation of SVGP.

It's worth emphasizing that we would expect SKI/KISS-GP (implemented via `GridInterp

[2018-05-07 18:44] #96 closed

[2018-05-07 19:00] jacobrgardner opened #120 "DiagLazyVariable Sampling"
https://github.com/cornellius-gp/gpytorch/blob/d29e08ebba7f998b7eda1a0f4d670e87363b7e07/gpytorch/lazy/diag_lazy_variable.py#L72

This should probably be
[code]

? Just making sure I'm not missing something, since I've never used `PsdSumLazyVariable`, which is where I assume this actually gets used.

[2018-05-07 20:15] lerkoah commented on #114
I tested the solution. The GP pass the train process, but not pass the test.
I introduced a sampling matrix H, that it has an 1 in the position i,j if the data[i] is observed trough data_observed[j]
that is means, if we have a vector [0, 1, 2, 3, 4] and we observed [0,1,3,4], then, the matrix H is:
[code]
This is the code:
[code]
For debuging, I'm trying to implement the [simple regression](https:

[2018-05-07 23:25] jacobrgardner commented on #114
I am not totally sure I understand your use case but I do understand the problem you are running in to.

The challenge you have is that in GPyTorch during testing we call forward on the training and test data concatenated together.

If you have some static matrix W that is p x n, then during test time it'll be trying to multiply that by an (n+t x n+t) matrix. This isn't a problem unique to GPyTorc

[2018-05-08 12:15] gpleiss commented on #120
Whoops you're totally right. I'll fix this now.

[2018-05-09 16:13] Balandat opened #123 "Add proper support for priors"
While it's relatively straightforward to put priors on the hyperparameters (e.g. length scales, noise) by simply adding the appropriate log probabilities to the marginal_log_likelihood, this is not very user friendly.

There are some remnants of support for priors (e.g. https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/module.py#L101), but those don't seem to do anything.

We should a

[2018-05-09 19:08] jacobrgardner opened #125 "LazyVariables should define a get_row"
Right now, `gpytorch.utils.pivoted_cholesky` uses `LazyVariable.__getitem__` to access individual rows of `LazyVariables`. This is usually overkill, since `__getitem__` is usually much more general than a `get_row` method would be, and therefore much more complicated.

For example, we cannot use preconditioners with SGPR right now because `InvQuadLazyVariable` uses the default `__getitem__`.

Havi

[2018-05-09 19:48] gpleiss opened #126 "Migrate RandomVariable to use PyTorch distributions"
GPyTorch `RandomVariables` are essentially doing the same thing as PyTorch `Distributions`. We should try to leverage the PyTorch interface as much as possible.

Similarly to Pyro, we probably want to subclass each of the distributions (or at least subclassing the MultivariateNormal distribution). This will make it possible to work with LazyVariable covariances, and for us to do our custom fast sa

[2018-05-09 20:41] Balandat commented on #126
I'm working on some early draft code to include priors. At least for the basic purpose of automatically adding the log_prob term of each parameter's prior (if specified) to the marginal log likelihood, the API implemented by the basic `Distribution` class seems adequate.

[2018-05-09 23:33] Balandat commented on #123
How do you feel about allowing to specify one of the two for each parameter:

1. a user-defined prior (basically conforming to a simple API that more or less only requires outputting a log_prob given a parameter value)
2. bounds (or log-bounds), which we then internally translate into a smoothed-out uniform prior with full support but rapidly decreasing values outside the bounds?

Also, would you

[2018-05-10 00:18] jacobrgardner commented on #123
The bounds in GPyTorch are at least partially a left over from back when we had lots of numerical stability issues that we didn't know how to deal with due to there not being a lot of prior work to draw from that exclusively used MVM based inference methods. As the package matured, we've mostly found much more clever solutions to many of these problems.

Therefore, another option to consider is re

[2018-05-10 02:11] jacobrgardner commented on #123
I think my recommendation just be to eliminate bounds entirely, and make priors a purely optional feature (with a smoothed uniform prior taking the place of bounds as an optional feature). Andrew pointed out (I think correctly) that hyperparameter priors are overwhelmingly used for BayesOpt compared to other GP applications.

Any lingering problems that bounds currently solved can probably be solv

[2018-05-10 16:26] Balandat opened #130 "Basic support for efficient cross-validation of GP models"
It would be nice to have some basic support for efficient cross-validation of GP models.

A standard way to do this for k-Fold CV with small fold size is to keep the parameters of the model fixed, update the training input and targets with the k-th fold removed, and then predict the k-th fold with that model. This works, but in a naive implementation we're potentially leaving a lot of useful infor

[2018-05-10 16:27] Balandat commented on #130
cc @darbour

[2018-05-10 16:27] Balandat commented on #123
cc @darbour

[2018-05-10 16:42] gpleiss commented on #120
Fixed by f3d794b

[2018-05-10 16:42] #120 closed

[2018-05-10 16:51] jacobrgardner commented on #130
Something to consider: GPyTorch is intended to operate fully in batch mode. This means that if I have training data that looks like `k x n x d`, training labels that look like `k x n`, and test points that look like `k x t x d`, GPyTorch should handle making predictions for k independent GPs in a batched parallel fashion, where the $ith$ GP uses the ith batch of training data and tests on the ith

[2018-05-11 12:53] gpleiss commented on #119
I think this has been fixed by bdaa640 . Dividing the lengthscale by 2 before the sum operation seems to be more numerically stable.

[2018-05-11 12:54] gpleiss commented on #119
Oh whoops just realized that commit wasn't actually pushed to master. I'll make a real PR out of it

[2018-05-11 13:02] gpleiss commented on #126
Yeah, I think for the most part we'll be able to use mostly PyTorch distributions. I think the only custom distribution we need is a MultivariateNormal distribution (no surprises here...)

[2018-05-11 13:03] #119 closed

[2018-05-11 13:16] Balandat commented on #126
pytorch has a MultivariateNormal distribution: https://pytorch.org/docs/stable/distributions.html?highlight=multivariate#torch.distributions.multivariate_normal.MultivariateNormal

[2018-05-11 13:29] Balandat commented on #113
Ok, so I was trying to get this to work, but I'm having a hard time getting the correct behavior in all the different contexts (training, test, eval, forward, lazy, non-lazy, batch, non-batch, in usage with AdditiveKernel, etc.). @gpleiss, @jacobrgardner, any thoughts?

The common use case is to define a new AdditiveKernel, e.g. `RBFKernel() + HeteroscedasticWhiteKernel(Y_train_target_var)`

[code

[2018-05-11 13:40] gpleiss commented on #126
Our MultivariateNormal needs some custom functionality. Mostly it needs to be able to handle LazyVaraible covariance matrices without explicitly constructing the covariance matrix.

[2018-05-11 14:53] Balandat commented on #130
@jacobrgardner, I'm having trouble getting the batched training to work, b/c the mean output of the model seems off. Here is the simple_gp_regression example for two identical batches (`k=2`, `n=11`, `d=1`):

[code]

The issue appears to be that the model evaluated on the training data yields a tensor with `k` elements (rather than `k x n`). Am I doing something wrong here?

[2018-05-11 14:58] jacobrgardner commented on #130
I think Sam Stanton here ran in to a similar issue in the past couple days and has a branch on a fork that fixes this.

Let me ping him.

[2018-05-11 21:36] jacobrgardner opened #134 "GPyTorch should handle batched predictions for independent GPs"
I'm spinning off a separate issue from the discussion in #130 . GPyTorch should handle `k x n x d`  training data, `k x n` labels, and `k x t x d` test points **at test time** as though we have `k` separate Gaussian processes, each with a training set and a set of test points.

I think handling this at training time would be much more challenging since we'd need to call backward on a list of `k` l

[2018-05-11 21:46] jacobrgardner opened #135 "Exact GPs should compute test and train kernel matrices separately at test time"
Persuant to the discussion in #113, Exact GPs should compute the various covariance matrices needed for the predictive distribution separately. This could save a lot of time and space for applications like BayesOpt, and also make the white noise kernel implementation a little easier since we wouldn't have to pad the diagonal with `t` zeros.

@gpleiss and I talked, and I think a great solution is t

[2018-05-11 21:46] Balandat commented on #134
Ideally, we could also to do this at train time, b/c this would gives you a way to do true cross-validation. In this case, if you don't reuse the same underlying tensor, but construct one that is copied from the respective folds of the training data for each of the batches, would it not be possible to just ball backward on the sum of the losses since the gradients will be independent by constructi

[2018-05-11 21:49] jacobrgardner commented on #134
We'd have to be careful to replicate all of our `Parameters` if we wanted to do batch training like that. It's possible, but I'll add the `enhancement` label, since handling things at training time will likely require some extra work.

[2018-05-11 21:49] Balandat commented on #135
This would be awesome. And it would make it straightforward to cache `k(x_train, x_train)` for eval mode.

[2018-05-11 22:23] jacobrgardner opened #136 "Use updated PyTorch 0.4 tensor creation functions"
Right now, we do the following kind of things to get new tensors:
[code]
PyTorch 0.4.0 added the following ways to do this instead that I prefer:
[code]
We could also just by carrying around a `device` string instead of a tensor_cls do:
[code]

[2018-05-11 22:41] Balandat commented on #136
I definitely like the second method better as well.

The `device` kwarg method is nice in that it can also take the actual `torch.device`, e.g. you can do something like

    bar = torch.zeros(size1, size2, dtype=foo.dtype, device=foo.device)

This makes sense (in particular if you have multiple GPUs...), but it's also pretty verbose since you're going to carry the device around everywhere.

[2018-05-11 22:43] Balandat commented on #136
Also, let's not forget getting rid of `Variable` (#110) while at it (pass in `requires_grad` directly into the Tensor constructors if a gradient is needed)

[2018-05-23 20:34] jacobrgardner commented on #135
I am going to work on this unless someone would prefer that #134 gets handled first. I have no preference on an order for these two, but this issue seems more directly problematic for using exact GPs for BayesOpt.

[2018-05-23 20:45] Balandat commented on #135
makes total sense, I think this is higher pri as it will make #113 much easier

[2018-05-23 22:59] jacobrgardner opened #142 "Travis CI doesn't actually run Python 2.7 tests"
See https://travis-ci.org/cornellius-gp/gpytorch/jobs/382926170 for an example (0 tests ran).

The Python 3 tests still work fine, but this explains why the Python 2 tests have never failed in recent memory even when the Python 3 tests do :-).

Considering a couple of us develop on Python 3, this could theoretically mean we have some undetected backward compatibility issues. I doubt it, though.

[2018-05-23 23:14] Balandat commented on #142
Interesting. Wonder why that is...

Anyone has an idea when pytorch is going to cut py2 support? numpy/scipy/pandas are doing it for new releases starting the end of this year...

[2018-05-28 20:31] jacobrgardner opened #143 "AddedDiagLazyVariable should have a smarter add_diag function"
This is something that will take me 5-10 minutes tops to fix when I actually go back to work tomorrow, but `AddedDiagLazyVariable` should just add the diagonal component passed to `add_diag` to the existing diagonal component in the lazy variable, and should support non constant diagonals.

This is super minor, but right now adding diagonal components other than the log noise (e.g. when #113 is im

[2018-05-28 20:33] jacobrgardner commented on #125
I'm closing this, because we ended up just writing smarter `__getitem__` implementations for most of the lazy variables that matter here, and it's not clear we could do substantially better by special casing to getting a row anymore.

[2018-05-28 20:33] #125 closed

[2018-05-29 14:01] #135 closed

[2018-05-29 17:46] Balandat opened #146 "Lapack error in TestKissGPVariationalRegression"
Getting this error when running on current master:

[code]

[2018-05-29 17:50] jacobrgardner commented on #146
I can't reproduce this using pytorch 0.4.0, everything passes for me (and for Travis).

That error usually means there are nans somewhere, so something strange is going on.

[2018-05-29 17:58] Balandat commented on #146
Hmm so I'm on the bleeding edge of pytorch, maybe there were some changes upstream that cause this. Let's not worry about it for now if it doesn't repro on 0.4.0.

[2018-05-29 21:40] jacobrgardner commented on #146
Fixed by #147

[2018-05-29 21:40] #146 closed

[2018-05-29 22:17] Balandat opened #149 "SpectralMixtureKernel overwrites Module initialize() function"
SpectralMixtureKernel has an `.initialize()` function that overrides the function fo the same name of the superclass `Module`, but these functions have different purposes. This is confusing and has created hard to debug issues for me working on the Priors.

Since this function is used nowhere in the code, I suggest simply renaming this to `initialize_training_data`.

[2018-05-29 22:26] jacobrgardner commented on #149
The spectral mixture kernel uses initialization procedures for the hyperparams that are based on the training data. It is kind of a special case.

We could rename the method to something like `initialize_from_data`.

Another option might be to make the kernel require training data in __init__ and perform those initializations by default. The SM kernel is extremely sensitive to hyperparameter initi

[2018-05-29 22:29] Balandat commented on #149
Ok I will rename it to `initialize_from_data` for now to avoid the issues mentioned above. We can figure out whether we want to make this the default behavior down the road. Maybe you can open an issue for that so we can keep this one contained?

[2018-05-30 03:34] Balandat commented on #149
Resolved by #150

[2018-05-30 03:34] #149 closed

[2018-05-30 16:00] stanbiryukov opened #151 "Parallel GPU training"
Hi there,
Has anyone been able to train a GP model utilizing multiple GPUs via torch.nn.DataParallel?

[2018-05-31 01:32] Balandat commented on #113
Hmm so while #141 allows to subset the kernel matrix without fully computing it, I'm still not sure how to implement the logic for the heteroscedastic white kernel in a clean & efficient way.

With all the laziness and efficient transposing for diag computations there is a lot going on. It's also not super straightforward to debug if the error you're making somewhere doesn't surface until way late

[2018-06-01 14:42] jacobrgardner commented on #113
This should be implemented, per #152.

Feel free to reopen if any issues arise!

[2018-06-01 14:42] #113 closed

[2018-06-01 14:47] jacobrgardner commented on #151
It's not something we've specifically designed the package to support currently, but multi GPU support is definitely something worth considering. The most obvious place multi GPU support would be useful are the matrix multiplications we do in CG. This might not be super difficult to implement for exact GPs, but I expect it may require a significant amount of effort for the sparse GP methods.

[2018-06-01 17:01] Balandat commented on #113
Awesome, thanks @jacobrgardner for doing this the right way!

[2018-06-02 20:44] #142 closed

[2018-06-02 20:46] jacobrgardner commented on #142
My opinion on this is we should maintain 2.7 compatibility until PyTorch drops it, and then we can as well.

[2018-06-03 15:58] stanbiryukov commented on #151
Great - I've been attempting to implement multi-gpu training for an exact GP classification model.  I think for larger models where exact GP is desired this will be a useful enhancement.  Will loop back in if I make progress.

[2018-06-03 16:34] stanbiryukov opened #155 "non-convergence since upgrade"
Hi all,
I upgraded gpytorch to test out the new white noise kernel and now a 3D-exact GP classification model (without white noise addition) that had previously converged is failing.  My target data is -1/1.  Using the RBF kernel, I see the following error:

`File "/Users/stanleybiryukov/miniconda2/envs/idp/lib/python2.7/site-packages/gpytorch/module.py", line 162, in __call__
    outputs = self.f

[2018-06-03 16:54] jacobrgardner commented on #155
I'll take a look. Do you have simple example data that produces either problem?

Both errors look like problems I'd expect to encounter when faced with bad kernel matrices due to bad hyperparameters (e.g., the kernel matrix is all ones because the lengthscale is very large relative to the Euclidean distances encountered in the data). Can you print out the kernel matrix (something like `print(covar

[2018-06-03 17:35] stanbiryukov commented on #155
Thanks, Jacob.  Here's example dummy data that reproduces the error:
[train_numpy_arrays.zip](https://github.com/cornellius-gp/gpytorch/files/2066194/train_numpy_arrays.zip)

And the kernel matrix:
`Iter 21/200 - Loss: 119.710
tensor([[ 1.2208e+00,  9.6203e-01,  6.2319e-01,  ...,  1.9692e-02,
          8.6667e-03,  3.5650e-03],
        [ 9.6203e-01,  1.2208e+00,  1.0427e+00,  ...,  4.0918e-02,

[2018-06-04 14:58] jacobrgardner commented on #155
Okay, the problem was really silly. In the simple GP classification notebook, we were doing:
[code]
But because of some recent changes internally, this will result in trying to take the square root of an all constant matrix (`self.log_outputscale.exp().expand_as(covar_x)`), which results in NaNs. This needs to be:
[code]
which is how outputscales are handled everywhere else (including the unit tes

[2018-06-04 15:08] jacobrgardner commented on #155
As a side note, because the original code was unintentionally using some fairly complicated stuff intended for handling product kernels, training should also be much faster without the `expand_as`.

[2018-06-04 15:09] stanbiryukov commented on #155
Excellent, thanks for catching this.

[2018-06-04 17:26] #155 closed

[2018-06-06 14:02] jacobrgardner opened #156 "Add docstrings for automatic documentation generation"
Something that has been on the list for a while has been to add docstrings so we can host a Read the Docs.

I've started doing this on the `documentation` branch, using the Google style docstrings (http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html), starting with `lazy_variable.py`, and will make my way through the package a bit at a time. It would be great if we could sta

[2018-06-07 09:07] Balandat commented on #134
So I was looking into this, and it appears to make this work there are some issues with how means are being treated compared to the covariances. In particular, while `LazyVariable`'s `exact_predictive_covar` properly distinguishes batch mode from non-batch mode and does the subsetting of the full kernel matrix batch-aware, this does not seem to be the case for `exact_predictive_mean`.

Also, shoul

[2018-06-07 12:08] jacobrgardner commented on #134
I'll take this issue next after I take a look at the priors PR. Getting the predictive means to work in batch should be easy enough.

Can you elaborate on where you think the means are not implemented correctly for non constant means / Do you have specific lines? As far as I can tell, you should be able to implement whatever mean module you need that does whatever you want in forward, non constant

[2018-06-07 22:58] Balandat commented on #134
Hmm, I guess I am conflating the batch prediction with the non-constant mean issue. The basic mean api will indeed support non-constant mean functions.
What I am concerned by is how `n_train` is inferred as `n_train = train_labels.size(0)` here, in batch mode that seems like it would be doing the wrong thing: https://github.com/cornellius-gp/gpytorch/blob/7f62373676126373fff178c3f3d8b3db8561cc88/g

[2018-06-07 23:13] jacobrgardner commented on #134
Definitely agree that exact_predictive_mean is a problem for supporting batch predictions at the moment. Shouldn't be too bad for me to fix it up though, hopefully!

As for interface, you recently added a `set_train_data` method to GP models in a PR, so I imagine you could just do a call to that, and then predict.

I'll spend a bit of time thinking about the training side of things. The main chall

[2018-06-07 23:51] Balandat commented on #134
Yeah, currently `set_train_data` has some checks that would prevent it from changing the dimensions of the data, but I can relax these checks / maybe retain a "strict" mode.

W.r.t. the interface - I was facing a similar issue with the dimension of the buffers for the priors, and I initially had a `resize` method that would automatically redefine parameters appropriately given a size. While this e

[2018-06-11 15:27] jacobrgardner opened #159 "Batch mode InterpolatedLazyVariable __getitem__ doesn't behave like torch.Tensor.__getitem__"
`InterpolatedLazyVariable`'s `__getitem__` method has different behavior than `torch.Tensor` in batch mode. Here's a simple example:

[code]

@gpleiss

[2018-06-11 15:31] #134 closed

[2018-06-11 15:39] jacobrgardner commented on #130
@Balandat this should hopefully be pretty straight forward now with #158!

[2018-06-11 19:32] sumitsk opened #160 "Incremental GP training"
Is it possible to train a GP in an incremental manner? For example, first train on 100 data points and then update the model parameters on the next batch of say 50 points instead of training from scratch on all 150 data points at one time?

[2018-06-12 13:39] jacobrgardner commented on #160
If you literally just want to swap out the trianing data in a regression model, GP models have a `set_train_data` method which as of a PR yesterday have a `strict` argument you can set to False that allows you to change the size of your data. Something like:

[code]

If you want to do something like minibatches, you'll need to use variational regression. We have an example of that using KISS-GP he

[2018-06-15 15:49] jacobrgardner opened #161 "LazyEvaluatedKernelVariable diag runs out of memory for SKI"
I pushed a temporary fix to this (a40392a8ce9c3c65a9679da21ec971783c9b6b81) that just special cases this specific issue, but the way we now handle lazily evaluating variances when we don't need the full covariance blows up for SKI.

This shouldn't be hard to fix, because the 'fix' implemented in the commit above does the right thing for SKI, anyways. It's really only exact GPs that benefit from th

[2018-06-15 17:09] Balandat opened #162 "Flaky test test_batch_gp_regression.py"
This test was labeled as flaky by our CI system. 1/50 runs would produce the following test failure:

[code]

@jacobrgardner, is there an easy way to make this more robust?

[2018-06-15 17:42] jacobrgardner commented on #162
I'll take a look.

[2018-06-15 18:38] jacobrgardner commented on #162
I think this is addressed by #164

If we still have trouble, we can either lock down the seed for that test, or remove optimization and fix the hyperparameters so that only testing is done during that test (since the batch GP part of the test happens after optimization).

[2018-06-15 18:38] #162 closed

[2018-06-16 14:27] jacobrgardner opened #165 "SKI should support different grid sizes in each dimension"
Right now, we support different grid bounds for each dimension, but the grid size is fixed in each dimension. I think this should be simple enough to fix, and will basically only affect `GridInterpolationKernel.__init__`.

[2018-06-19 17:22] stanbiryukov opened #166 "White Noise kernel addition with grid interpolation"
Hi all,

I'm unable to run a non-exact GP model with white noise kernel addition.  Specifically, I tried the Kronecker classification and regression examples, along with the additive classification example, substituting in: `self.base_covar_module = RBFKernel(log_lengthscale_bounds=(-5, 6)) + WhiteNoiseKernel(input_variance)`

Where input variance is: `input_variance = torch.squeeze(torch.from_num

[2018-06-19 17:28] jacobrgardner commented on #166
You're gonna want to add the White noise kernel to any scalable GP kernel you use directly, rather than to the base RBF kernel.

See test/examples/test_kissgp_white_noise_regression.py for an example of usage.

[2018-06-19 17:35] stanbiryukov commented on #166
That solves it!  Thanks for the quick reply.

[2018-06-19 18:43] stanbiryukov commented on #166
I got white noise addition working with the grid regression example but not with classification - any insights?  Here's what I'm attempting:

[code]

[2018-06-19 19:10] jacobrgardner commented on #166
Hmmmm.

This is a little trickier actually. In classification, you don't define the grid interpolation kernel, the `GridInducingVariationalGP` handles it for you (because it needs to learn things related to the inducing points). See our kissgp classification example, and note that we just call the RBF kernel. The problem being, of course, that we can't just add the WhiteNoiseKernel to the RBF kern

[2018-06-29 00:23] Balandat opened #169 "Require grad on non-floating point tensors breaks on pytorch master"
On current pytorch master, gpytorch master breaks b/c of requiring grad from non-floating point tensors, e.g. here: https://github.com/cornellius-gp/gpytorch/blame/9902384d6543c14fa8bf29c3981631aef02da6ad/test/lazy/test_interpolated_lazy_variable.py#L98

Test failure in e.g. in test_inv_matmul (test.lazy.test_interpolated_lazy_variable.TestInterpolatedLazyVariable)

[code]

[2018-06-29 00:26] Balandat opened #170 "Invalid gradient shape RuntieError unit test failure on pytorch master"
Invalid gradient errors appear in unit test on pytorch master, e.g. in test_inv_quad_log_det_many_vectors (test.functions.test_inv_quad_log_det.TestInvQuadLogDetNonBatch)

[code]

[2018-06-29 01:03] jacobrgardner commented on #169
I'll set up a conda environment with pytorch master and debug this and the other issue.

At a glance, that just shouldn't be `required_grad=True` I think -- we only need gradients with respect to the interpolation values.

[2018-06-29 01:21] Balandat commented on #169
Yeah that was my thinking - I mean what does the gradient w.r.t. the index mean? Probably don't even have continuity much less differentiability....

[2018-06-29 18:18] #169 closed

[2018-06-29 20:44] Balandat commented on #170
This is still happening for a number of the examples.
Sorry, I'd fix this myself, but I'm really busy currently.

[code]

Stack trace:
[code]

[2018-06-29 20:46] jacobrgardner commented on #170
Everything passed for me using PyTorch master as of like an hour ago -- I'll take another look though...

[2018-06-29 22:23] Balandat commented on #170
Hmm ok we're slightly behind master, maybe they made some changes? Will try again

[2018-06-29 22:36] Balandat commented on #170
no luck - you're running the examples, right? the standard unit tests all succeed for me as well

[2018-07-02 17:27] jacobrgardner opened #173 "Support predictions in prior mode"
Right now, it's essentially impossible to use an `ExactGP` to get predictions from the prior, because (1) we require training data in exact GP models, (2) in `train` mode we ensure that the supplied data is the same as the training data, and (3) in `eval` mode we compute the predictive posterior.

Some applications (like BayesOpt) don't necessarily start with training data at all, so getting predi

[2018-07-02 17:49] Balandat commented on #173
This is a good point. By prior here I assume you mean a prior of the to-be-modeled function over the domain? Would this require a new kind of object?

In our applications, we often see that people would like to do "safe exploration", for which this would be quite useful (either using a prior based on some domain knowledge, or based on the posterior of a model from a related problem)

[2018-07-02 18:33] jacobrgardner commented on #173
Yeah, I mean the prior over the to-be-modeled function. I've also had applications where it makes more sense to select points based on prior predictions to initialize BayesOpt than to choose randomly.

I don't think this will require a new object. **Technically** in code you can get prior predictions right now by creating a model using dummy tensors in `__init__` and then calling `forward` directl

[2018-07-02 20:01] Balandat commented on #173
See also my comment on the design doc about a heuristic we use to select starting points for gradient-based optimization.

@bkarrer, @bletham

[2018-07-03 15:11] jacobrgardner commented on #170
Ok, I managed to reproduce the error finally. I'll try to get this sorted out asap.

[2018-07-03 15:34] #170 closed

[2018-07-03 15:35] jacobrgardner commented on #170
@Balandat everything passes for me now with 7408792. The issue had to do with the new distinction between scalars (e.g. torch.Size([]) tensors) and size 1 tensors (e.g. torch.Size([1])).

[2018-07-03 15:54] Balandat commented on #170
I can confirm this works now, thanks for the fix!

[2018-07-05 21:26] darbour opened #174 "Predictions flipping sign when calling backward with model in eval mode"
I am working through a toy problem that attempts to maximize the posterior mean w.r.t. the input parameters. However it seems that after putting the model into evaluation mode, calling backward changes the sign of the gradient w.r.t. the input (it will also change the sign of the predictions). I've attached a NB to reproduce.
[sign_bug.pdf](https://github.com/cornellius-gp/gpytorch/files/2168285/s

[2018-07-06 21:07] Balandat commented on #174
@gpleiss, @jacobrgardner this seems very problematic for any kind of BayesOpt functionality - any idea what could be going on here?

[2018-07-06 21:08] Balandat commented on #174
cc @briankarrer

[2018-07-06 21:09] Balandat commented on #174
@bkarrer

[2018-07-07 01:33] jacobrgardner commented on #174
I'll take a look. The first backward looks like it worked -- are things fixed by zeroing out the gradients between backward calls?

[2018-07-07 02:57] Balandat commented on #174
No, running `model.zero_grad()` between the backward calls doesn't help. The interesting thing is that the sign of the gradient alternates between calls.

[2018-07-09 01:34] jacobrgardner commented on #174
Took a look. 0eb14c206d5c70503229571d3e5fe302373080d0 should fix this. We were doing inplace operations in the backward pass of `inv_matmul` on some things we cache, which meant that calling backward actually ruined the entire model, not just derivatives.  Yikes!

[2018-07-09 01:59] jacobrgardner commented on #174
Closing this for now since running the supplied code gets identical gradients every time for me now.

[2018-07-09 01:59] #174 closed

[2018-07-09 13:51] Balandat commented on #174
@jacobrgardner Hmm so you think you shouldn't enter that backward pass even when taking the gradient of some function of the output w.r.t. the model input? That's what the notebook does and that's what you'd be doing in any gradient-based optimization of an acquisition function.

[2018-07-09 14:49] jacobrgardner commented on #174
@Balandat I agree that taking the derivative with respect to the __test__ input is expected and necessary for our applications.

The predictive mean looks something like k*'K^{-1}y. We compute and store K^{-1}y as `self.mean_cache`. What is confusing to me is why we'd enter the backward pass of `InvMatmul` (the function we'd call to get K^{-1}y) at all to get the derivative w.r.t. x*, since nothin

[2018-07-09 15:29] Balandat commented on #174
Hmm that's am interesting point, we'd definitely want to avoid computing unnecessary stuff. Let me see if I can figure out what's going on in this toy example.

Would you mind creating a follow-up issue so we can track this?

[2018-07-09 16:55] jacobrgardner opened #175 "Possible extra derivative calculations at test time"
See the discussion in #174. When calling backward to get the derivative of the mean function with respect to a test input, we enter the backward pass of `InvMatmul`. There doesn't seem to be an obvious reason we should be doing this, since none of the linear solves involved in the predictive __mean__ depend on the test point.

This suggests we might also he computing derivatives with respect to mo

[2018-07-09 16:57] jacobrgardner commented on #175
This might be solvable with a few judicious detach calls if we are in eval mode?

[2018-07-15 01:48] sumitsk opened #176 "Gaussian likelihood log noise"
I am considering the case when the log noise of Gaussian likelihood depends on the input but is known, so, the log noise is not a parameter but a known vector of measurement noise of all the training points. I have been able to implement and train a GP model where all the likelihood noise values are same. However, when noise values are different, I get a runtime error due to the following line
htt

[2018-07-15 02:54] jacobrgardner commented on #176
It is possible! We implement input dependent noise as a kernel. Check out `gpytorch.kernels.WhiteNoiseKernel` and its associated unit tests https://github.com/cornellius-gp/gpytorch/blob/master/test/examples/test_white_noise_regression.py and https://github.com/cornellius-gp/gpytorch/blob/master/test/examples/test_kissgp_white_noise_regression.py

[2018-07-16 18:11] jacobrgardner opened #177 "Support for temporary/fantasy training data"
This is related to the need for "fantasy" observations for BayesOpt, where, in addition to training data, we want to condition a model on extra temporary training data with sampled function values as labels.

Right now, this is technically supported via the `set_train_data` method, which can make arbitrary changes to the training data with `strict=False`, which would let us just directly append th

[2018-07-16 18:20] jacobrgardner commented on #176
Going to close this since the above should work out for you -- feel free to reopen if you have other issues with it!

[2018-07-16 18:20] #176 closed

[2018-07-16 18:21] jacobrgardner commented on #160
Hopefully this answered everything you needed -- reopen if you still have issues with this!

[2018-07-16 18:21] #160 closed

[2018-07-16 19:55] Balandat commented on #177
Is there a way to do this efficiently without resetting the mean/covar caches? Seems like re-computing the full kernel matrix would be quite expensive if all we do is modify the data by adding a small number of fantasies.

[2018-07-16 20:44] jacobrgardner commented on #177
So dealing with the caches is basically a case of dealing with linear systems involving bordered matrices, because we basically want to update `K^{-1}y` to `[K A; B C]^{-1}[y; y_fantasy]`. Methods exist for this (e.g., https://www.researchgate.net/publication/307559841_Linear_systems_of_equations_with_bordered_matrices, a few discussed in Golub & Van Loan) that may or may not be faster in actual w

[2018-07-16 20:48] jacobrgardner commented on #177
For what it's worth, doing the solve from scratch using CG has the same asymptotic complexity for exact GPs (`O(n^2)`) as the "standard" way you'd do this update in a Cholesky-based GP package, which involves using the Schur complement and Woodbury formula.

[2018-07-17 02:13] jacobrgardner commented on #177
Good point, initializing with the existing mean cache with a few extra zeros concatenated for the fantasy examples is a smart idea. Assuming we don't expect the training data to ever change radically, what do you think about making it default behavior to, if a mean cache already exists, expand it to match the training data size and use it as initialization always?

[2018-07-17 04:06] Balandat commented on #177
That sounds good to me. Would you want to use zeros or the mean across the mean cache?

[2018-07-17 14:29] jacobrgardner commented on #177
Alright, I gave this some more thought and for temporary fantasy points and exact GPs specifically there is an O(kn+m^2) time approximate solution (where m is the number of fantasy points) for updating the mean cache and covar cache IF we are already using LOVE, where k is the rank of the decomposition used for LOVE.

I'll implement this idea as the default behavior when `gpytorch.settings.fast_pr

[2018-07-17 21:04] Balandat commented on #177
Let's try to get the priors in first, so we can avoid working on diverging branches as much as possible

[2018-07-18 15:19] gpleiss commented on #173
@jacobrgardner @Balandat maybe it would make sense for ExactGPModel to accept `None` for the training data arguments? This would be prior mode.

[2018-07-18 15:20] gpleiss commented on #175
I think the cache's should be detached. This would probably solve the issue.

[2018-07-19 03:00] sumitsk opened #179 "Exact GP regression Lapack Error syev"
Training a simple GP regression model produces following runtime error randomly at some seeds:
`RuntimeError: Lapack Error syev : 3 off-diagonal elements didn't converge to zero at /pytorch/aten/src/TH/generic/THTensorLapack.c:388`.
I have been able to reproduce the error with the following code:

[code]
I am using the latest version of Gpytorch and Pytorch (0.4.0). The above code is identical to

[2018-07-19 17:42] jacobrgardner commented on #179
I'll take a look!

[2018-07-19 21:20] Balandat opened #180 "Remove custom __getattr__ and __setattr__ in module.py"
We wrote custom versions of these functions in the first place to ensure that all parameters had associated bounds. Since after #139 goes in this will no longer be the case, it should be possible to register a parameter by setting self.<param_name> = ..., in addition to self.register_parameter("<param_name>", ...).

[2018-07-19 21:23] Balandat opened #181 "Do not differentiate between parameter prior and derived prior"

[2018-07-19 21:48] Balandat opened #182 "Make shape a property calling size() throughout the library"
To make things consistent with pytorch, see discussion here: https://github.com/cornellius-gp/gpytorch/pull/139#discussion_r203881586

[2018-07-19 21:54] jacobrgardner commented on #180
8c92618e66b57319435a7312665a331c49f3b9b6 forks off of the `priors` branch and seems to do this successfully. I modified one of the unit tests to test adding a parameter without self.register_parameter. Once `priors` is merged in I'll open a quick PR.

[2018-07-20 07:33] polarlightman opened #185 "ModuleNotFoundError: No module named 'gpytorch.priors'"
Hi, I am new here. I notice there are some changes yesterday of your example files. And I follow the new file of 'simple gp regression' , but I got an error:'**ModuleNotFoundError: No module named 'gpytorch.priors**'' when I do '**from gpytorch.priors import SmoothedBoxPrior**'. I even reinstall the gpytorch but still get the same error.
(Sorry if I asked a stupid question, it's my first time to u

[2018-07-20 13:10] jacobrgardner commented on #185
Hi!

The most likely explanation seems to me that you pulled the repo and examples after installing GPyTorch. Yesterday's patch involved some fairly large changes. Try reinstalling.

[2018-07-20 13:16] jacobrgardner commented on #185
Actually, also try pulling again before you reinstall. I just added the priors import to the init file. The unit tests and examples work for me without this, but maybe there's an issue in some older versions of python?

[2018-07-20 13:29] jacobrgardner commented on #179
Okay, I've figured out what the problem is here. Basically, with so little data, the solve and log determinant we get with the preconditioner is exact to machine precision, so actually running CG / Stochastic LQ runs in to trouble. I'm working on a solution.

[2018-07-20 14:17] #179 closed

[2018-07-20 14:18] jacobrgardner commented on #179
Should be all set.

[2018-07-20 15:05] polarlightman commented on #185
@jacobrgardner Thank you:) . I reinstall gpytorch and it works now!

[2018-07-20 15:16] #185 closed

[2018-07-23 15:33] darbour opened #189 "Implement Cylindrical Kernels"

[2018-07-23 22:01] Balandat commented on #123
Done in #139

[2018-07-23 22:01] #123 closed

[2018-07-23 22:02] Balandat commented on #69
has this been resolved?

[2018-07-23 22:06] rajkumarkarthik opened #191 "MultitaskGPModel won't scale with size of input"
In the basic multi-task model example shown in https://nbviewer.jupyter.org/github/cornellius-gp/gpytorch/blob/master/examples/multitask_gp_regression.ipynb, the code doesn't scale to larger sizes of training data. Specifically, if you changed training data size in cell 2 of the notebook from 11 to 100, the code no longer works. It throws the following error:
RuntimeError: Function InvQuadLogDetLe

[2018-07-23 22:10] Balandat commented on #69
I guess more generally it might be nice to provide a little wrapper for generating the training/target data for the common use case where the observations are at the same points in the feature space for all tasks. cc @rajkumarkarthik

[2018-07-23 22:40] jacobrgardner commented on #191
I'm looking in to this -- it has to do with the recent changes to lazily evaluating kernels. Easy enough to fix in the exact GP case (I'll push something soon), a little trickier in the sparse GP setting. Working on a fix now.

[2018-07-24 18:40] Balandat commented on #69
Thinking more about this, this becomes more important for BayesOpt on the evaluation side. Specifically, we'll want to be able to define (scalar) acquisition functions on `t` outputs of a multi-task GP at the same `x`. Currently it seems like the way to do this also in eval mode would be to concatenate `t` copies of `x` and generate the associated task index vector.

But to run a gradient descent,

[2018-07-24 21:54] natalieklein opened #194 ""RuntimeError: fft: ATen not compiled with MKL support" when trying to run example notebook"
Hi, I just installed pytorch and gpytorch following the readme. I'm trying to run `kissgp_kronecker_product_regression.ipynb`. When I run the model training chunk, I get the following error. Let me know what other information I can provide.

[code]

[2018-07-24 22:48] Balandat commented on #194
This is pretty far down in pytorch - what pytorch version are you using? On which platform? What was your installation process?

[2018-07-24 22:51] jacobrgardner commented on #194
To add on to this, can you try a quick fft on a random tensor in ipython without GPyTorch imported/involved at all? I suspect this is actually an Anaconda / PyTorch installation issue, and not a GPyTorch issue for once :-).

[2018-07-24 23:15] natalieklein commented on #194
Thanks for the thoughts. I'm on Mac OSX 10.11.6 with a virtual environment with Python 3.6 (not anaconda). I used `pip3 install install torch torchvision` before installing `gpytorch` as stated in the readme.

It does appear to be something wrong with pytorch, so I will bug them...
[code]
yields the same error
[code]

Thanks for your responses!

[2018-07-24 23:15] #194 closed

[2018-07-24 23:53] Balandat commented on #69
@darbour @bkarrer @bletham

[2018-07-25 00:17] jacobrgardner commented on #69
The Kronecker product multi task example that Geoff started is/will be an example of mapping a single x tensor to multiple outputs. The intent of that notebook is to handle efficiently the setting of multitask gps where every task is evaluated for every point. In that setting at least, I don't foresee any issue here with torch optimization for acquisition functions, since KroneckerProductLazyVaria

[2018-07-25 00:40] Balandat commented on #69
Yeah I meant the non-messy setting - haven't had time to go over Geoffs example yet, but I will!

[2018-07-25 03:35] sumitsk opened #195 "Fully connected layer before mean and covariance modules"
I am trying to do a non-linear transformation of input before forwarding it through mean and covariance modules. Before master branch was merged to priors (commit 1f5491e3edcac6497d3370c8aaef9a9362048a3e), I can add a fully connected layer before passing the input through mean and covariance modules to learn a non-linear representation. For example, the following script worked fine.

[code]

Howev

[2018-07-25 03:58] jacobrgardner commented on #195
The intention is that this should still work the same way. This is definitely a bug -- we'll try to get this fixed ASAP.

[2018-07-25 04:00] jacobrgardner commented on #195
cc @Balandat @gpleiss

[2018-07-25 05:07] #195 closed

[2018-07-25 05:07] jacobrgardner commented on #195
Should be fixed now on master!

[2018-07-25 05:10] jacobrgardner opened #197 "Make small DKL unit tests"
The `_get_prior_for` break of compatability with standard torch Modules (e.g. for deep kernel learning, #195) went under the radar because we actually don't have a DKL unit test. Whoops 😄 ! Given that DKL and things like it are a major component of our functionality, we should definitely have one.

[2018-07-25 06:49] #191 closed

[2018-07-25 07:06] Balandat opened #198 "Use pytorch-native Multivariate Gamma function for Wishart priors"
With https://github.com/pytorch/pytorch/issues/9378 closed, we can use the pytorch native implementation of the Multivariate Gamma function.

[2018-07-25 16:21] jacobrgardner opened #199 "GPU LOVE Notebook for SKI is Broken"
I get the following error when computing the variances the second time around:
[code]

Looking in to this now...

[2018-07-25 16:45] #199 closed

[2018-07-25 17:00] Balandat commented on #198
Note that this will require for pytorch/pytorch#9378 to make it into a pytorch release.

[2018-07-25 19:46] colesbury opened #200 "test_spectral_mixture_gp_mean_abs_error numerically sensitive"
Should TestSpectralMixtureGPRegression.test_spectral_mixture_gp_mean_abs_error use double-precision tensors?

I'm seeing failures in `TestSpectralMixtureGPRegression.test_spectral_mixture_gp_mean_abs_error` on machines that don't have the FMA3 instruction set. If you're using MKL, you can reproduce this by setting the environment variable `MKL_ENABLE_INSTRUCTIONS=AVX` to disable AVX2 and FMA3 inst

[2018-07-26 16:52] jacobrgardner commented on #200
I think this is solved for the moment by #201

[2018-07-26 16:52] #200 closed

[2018-07-27 01:49] Balandat opened #202 "Implement LKJ prior over correlation matrices"
The Wishart and inverse Wishart can be used as priors over the IndexKernel, but they are hard to intuit, and not easy to specify (many parameters, quite opaque).

Instead, we can write a positive definite matrix `Sigma \in R^{n x n}` as `Sigma = diag(s) C diag(s)`, where `C \in R^{n x n}` is a correlation matrix and `s = sqrt(diag(Sigma))`. We can now put a prior over the elements of `s`, and a se

[2018-07-27 05:26] jacobrgardner opened #204 "named_parameter_priors won't get priors for children of torch Modules"
I think the PR #196  I did fixed things like DKL to at least run, but was a bad fix because we'll fail to get priors for parameters in gpytorch.Modules that are children of torch.nn.Modules. For example, consider AdditiveKernel, which places a bunch of Kernels in a ModuleList. Since named_parameter_priors is a recursive call that won't actually run on the ModuleList because it doesn't exist, we wo

[2018-07-27 15:03] Balandat commented on #204
How about instead of calling this recursively on the object method we move to a functional approach where we in the top-level call of `named_parameter_priors` recursively call a function `_extract_named_parameter_priors` like the following:

[code]

Testing this now.

[2018-07-27 16:00] #204 closed

[2018-07-29 00:29] gpleiss opened #209 "Multitask GP syntactic sugar"
Multitask GPs can be written in GPyTorch as is (see #208), but right now it is extremely ugly.

**Proposed interface**:
- Introduce a `MultitaskKernel` model, which wraps a standard kernel function and returns the Kronecker product between an index (task) kernel and the supplied input kernel.
- Mean functions take in an `n_tasks` argument, which defaults as None. If `n_tasks=d`, means will return

[2018-07-29 00:32] gpleiss commented on #69
I'm proposing a new interface in #209.

[2018-07-29 00:41] jacobrgardner commented on #209
One potential issue I see is a conflict of the multi dimensional label idea with the batch GP training we did recently (e.g. see the batch GP regression unit test). Does `a x b` labels mean `a` GPs on `b` data points or some number of tasks?

While the former can be viewed as multitask with identity task covariance, it's an example of Hadamard multitask, not Kronecker, so this is a collision of me

[2018-07-29 00:45] jacobrgardner commented on #209
Maybe labels should always be `n x 1` and then `b x n x t` means b batches of n data on t tasks?

[2018-07-30 08:25] MaxCamPi opened #210 "DKLModel with CPU"
I am running the Large_Scale_Stochastic_Variational_DKL_Regression example, but on a much smaller data set (with smaller batch_size) on a CPU. All is fine until:

model = DKLModel(feature_extractor, n_features=num_features).cpu()

The output I get is:

Traceback (most recent call last):

  File "<ipython-input-92-7e8004762e22>", line 15, in <module>
    model = DKLModel(feature_extractor, n_featur

[2018-07-30 11:48] MaxCamPi commented on #210
Fixed after reinstalling gpytorch.

[2018-07-30 11:48] #210 closed

[2018-07-30 16:23] Balandat commented on #209
I think having labels always be either `n x t` in the non-batch case (iirc this is the sklearn interface) and `b x n x t` in the batch case makes a lot of sense. We could automatically convert single-dimensional inputs to `n x 1` add issue a deprecation warning, which should cover the most common use cases. We can improve documentation for the batch case so this is clear to people.

[2018-07-31 20:37] gpleiss commented on #209
I was always annoyed that targets had to be `n x 1` in GPy :joy: but that might be the most straightforward.

Additionally, a pattern that we have elsewhere in the code is that all batch operations must be 3-dimensional tensors. What this means is that batch targets must be `b x n x 1`, but non-batch targets could be either `n` or `n x 1`.

Not sure if this is a good pattern or not?

[2018-07-31 20:42] jacobrgardner commented on #209
If you allow both, how do you distinguish `a x b` as batch vs multitask?

[2018-07-31 21:13] gpleiss commented on #209
`a x b` would be multitask. Batch would specifically require a `c x a x b` 3d tensor.

(I think?) this is what's currently done for batch inputs, right? `a x b` inputs are interpreted as a `b`-dimensional input, and you would need a `c x a x b` input for batch mode?

[2018-07-31 21:16] gpleiss commented on #209
The pattern that I know exists for `matmul`, `inv_matmul`, and a lot of other LazyVariable operations is that all batch operations require 3D tensors.

E.g. a batch of vectors for an MVM must be represented as a `b x n x 1` Tensor. However, a vector for a (non-batch) MVM can be represented either as a `n x 1` matrix or an `n` vector.

Again, not sure if this pattern is too confusing or not. It mig

[2018-07-31 21:29] jacobrgardner commented on #209
I think this would be okay. So basically `a x b` would be multitask but `a x b x 1` would be batch.

[2018-07-31 21:31] jacobrgardner commented on #209
Another way of looking at it is that all tensors have a default implicit batch size of 1, rather than explicitly requiring all tensors to have a task dimension of 1.

[2018-08-01 04:08] Balandat commented on #209
So I think internally (down in the Lazy variables etc.) we should always using `b x n x t` tensors to avoid any ambiguities. I think it's fine to infer a output dimension of 1 if 1-dim data is passed in, to default to batch size 1, and to require explicitly specifying the output dimension when using batch mode.

[2018-08-01 21:48] Balandat commented on #209
I'm going to play around a bit with this augmented GaussianRandomVariable, this will be useful for implementing the batch acquisition functions over multiple outcomes.

cc @rajkumarkarthik, @darbour

[2018-08-01 23:03] Balandat commented on #209
Here is something quick an dirty that takes the `n x t` mean and `nt x nt` covar and gets the job done at least for sampling:

[code]

[2018-08-02 21:37] Balandat opened #213 "Multi-task likelihoods"
Multi-Task models currently do not allow for different noise levels for the different outputs. This is clearly something that we should support.

One way of doing this would be to implement a MultiTaskLikelihood Module that operates on the possibly generalized outputs of MultiTask models discussed in #209.

IMHO, this suggests that in order to make things clean we should treat multi-output models

[2018-08-02 21:53] gpleiss commented on #213
This seems reasonable. I think we should have something similar to the ARD pattern we have for kernels. Modules should be able to have: 1) a singleton parameter, 2) a parameter for each dimension/task, 3) a parameter for each batch, or 4) a combination of 2 and 3.

Essentially, every model/module should be a batched/multi-output module, with an assumed batch size of 1 and output of size 1 unless o

[2018-08-02 21:56] jacobrgardner commented on #213
Assuming the `nd x nd` covariance matrix is ordered so that all of the first task data is first, all of the second task data is second and so on, we'd basically want to form a `SumLazyVariable` out of the `KroneckerProductLazyVariable` we make now for the multi task kernel matrix, and another one that represents `I_{n} \kron diag(task_var)` where I_{n} is the `n x n` identity matrix and `diag(task

[2018-08-02 22:19] gpleiss commented on #213
Minor point: the `nd x nd` covariance matrix will probably be ordered so that all `k` tasks for the first input come first, all `k` tasks for the second input, and so on. But yeah, that seems like a reasonable implementation.

What should the interface look like for specifying that we have want different parameters for the different tasks/batches?

[2018-08-02 22:44] jacobrgardner commented on #213
I think this is where we may want the MultitaskKernel you mentioned earlier. If we do `kron(covar_i, covar_x)` like currently happens in the example notebook, then the non permuted version above holds (e.g., all of task 1 appears, then all of task 2). If we do `kron(covar_x, covar_i)` then it is messed up.

Basically, we need the ordering of `covar_x` and `covar_i` to match up with the ordering of

[2018-08-02 23:41] Balandat commented on #213
cc @rajkumarkarthik

[2018-08-03 00:04] jacobrgardner commented on #213
Just chatted offline with Geoff, and I think I have a vision for this. I'll throw up a PR with a proposed implementation + interface of the new multitask stuff.

[2018-08-03 00:07] Balandat commented on #213
Sounds great. FWIW, I've got some promising results for constrained batch EI using the Kronecker MTGP which is quite a bit more general than our current implementation, so having this would be great.

[2018-08-03 15:56] gbohner opened #214 "Sampling and its documentation is inconsistent"
Hi All, I'm relatively new to large-scale collaborative open source development, so please PM me if something should be done differently. I've been using pytorch for a project in the past few weeks, and it's great, but of course being in alpha there are quite a few inconsistencies.

One of them is sampling of random variables:

1. Dimensions of sampled variables are inconsistent.
According to docu

[2018-08-03 16:49] jacobrgardner opened #215 "KronckerProductLazyVariable only works for square and symmetric matrices"
Easy enough to reproduce:

[code]

This is blocking MultitaskKernel from working properly, so I'm trying to solve this now

[2018-08-03 16:59] jacobrgardner commented on #214
Yeah a few of the older docstrings that have existed since the beginning of the package are bad or even outright wrong, you are definitely correct.

We are absolutely open to PRs fixing some of this, and it sounds like you already have some implementations that would be useful to have in the package! The MixtureRandomVariable sample routine in particular is something that probably never got implem

[2018-08-03 19:46] Balandat commented on #214
Note also how this relates to the discussion about multi-task outputs in #213

[2018-08-03 22:00] jacobrgardner commented on #215
5390921b5376ec40d097af903d29df8846c83841 fixes the matmul in the general case I'm pretty sure, and I added two test cases for this. Next thing to fix is the issue of the derivative being wrong if the component matrices are not symmetric (run the new unit tests).

@gpleiss

[2018-08-04 15:07] #215 closed

[2018-08-04 19:54] jacobrgardner opened #219 "Should some kernels not be lazily evaluated?"
#217 patches in a kind of gross way an issue where, because we lazily evaluate kernels, we are always calling the default `LazyVariable.exact_predictive*`, because `full_covar` is always a `LazyEvaluatedKernelVariable` by the time we reach here: https://github.com/cornellius-gp/gpytorch/blob/1c8f891981a3d50e57017c7d53f25f7992f000a3/gpytorch/functions/__init__.py#L88

A potential alternative fix wo

[2018-08-04 23:46] Balandat opened #220 "Refactor IndexKernel to be parameterized with Cholesky factor of correlation matrix if full rank"
See discussion here: https://github.com/cornellius-gp/gpytorch/pull/218#discussion_r207721880

[2018-08-06 19:28] gpleiss commented on #219
A couple thoughts about this:

- I've never really liked how `exact_predictive_*` lives on the LazyVariable. From a strict OO programming perspective, a LazyVariable shouldn't know about the kind of inference being performed on it. Put a different way, InterpolatedLazyVariables have knowledge of KISS-GP inference (due to the `exact_predictive_*`) methods, yet InterpolatedLazyVariables are strictly

[2018-08-07 15:28] Balandat commented on #173
@jacobrgardner I also think that always doing this check by default is a little much - maybe we should have some kind of contextmanager that we can use to turn if off if we don't need the check to be done?

[2018-08-07 15:35] #69 closed

[2018-08-07 15:35] #143 closed

[2018-08-07 15:35] #161 closed

[2018-08-07 15:35] #209 closed

[2018-08-07 15:35] #213 closed

[2018-08-07 20:31] gpleiss commented on #173
I would suggest:

- `model.eval()` with `None` for training data - prior mode
- `model.eval()` with training data - posterior mode
- `model.train()` - training mode, requires training data

@Balandat I like the idea of using a context manager for doing the checks. We also make the check in `eval` mode if the evaluation data matches the training data, and I think this check would also be nice to tu

[2018-08-08 15:32] Balandat opened #224 "Improve unit test coverage outside of examples"
The examples take quite a while to run, let's try to get 100% unit test coverage with lightweight tests outside of the examples.

[2018-08-08 15:33] #173 closed

[2018-08-08 20:11] Balandat opened #227 "Add unit tests for Wishart & LKJ priors, fix logdet computation in Wishart"
See discussion here: #226

[2018-08-09 18:12] gpleiss commented on #214
@gbohner we're going to move the RandomVariable classes to use/become PyTorch distributions. Then, our sampling will be consistent with the way sampling is implemented in PyTorch.

See #126

[2018-08-09 19:50] #175 closed

[2018-08-13 17:31] gpleiss opened #229 "Implement ScaleKernel"
`ScaleKernel` would decorate an existing kernel and add an output scale.

Then, we wouldn't need to register a `log_outputscale` on all the existing GP modules

[2018-08-15 22:59] gpleiss commented on #136
LazyVariables should also get a `device` property, and we should get rid of the `tensor_cls` method.

[2018-08-15 23:42] Balandat commented on #136
And they should also have a `dtype` property and `shape` property (which just wraps `size()`, as pytorch does). That way they become more similar to tensors, almost warranting a renaming....

[2018-08-15 23:56] jacobrgardner commented on #136
They already have a `device` property -- I assume he means `dtype`.

[2018-08-17 04:07] sumitsk opened #233 "Spectral mixture kernel bug"
It seems that if the training input size is more than one dimension, then spectral mixture kernel initialize_from_data method throws runtime error. Here is a small script that produces the error:

[code]

[2018-08-17 18:28] Balandat opened #235 "Heteroskedastic Likelihood"
tl;dr: We should implement a `HeteroskedasticLikelihood` instead of using a `WhitenoiseKernel`.

From offline discussion (cc @bkarrer, @gpleiss):

The easy part: `HeteroskedasticLikelihood` should be easy to write. The constructor could take in a handle to a function `lambda(x)` that returns the variance as a function of `x`. It could be a simple closed-form function, or it could be something more

[2018-08-17 18:38] Balandat opened #236 "Allow batch-predictions from non-batch GP"
In some cases we'd like to get independent posteriors for separate batches of test points. E.g. say we train a single GP on `n x d` train_x and `n` (single-dim) train_y data. Then we'd like to be able to pass in test data of shape `b x k x d` to produce `b` independent posteriors, where the `i`-th one is the posterior of the `k` test points in the `i`-th batch.

Currently, this raises the followin

[2018-08-17 18:47] Balandat opened #237 "Batch predictions fail on master"
Suppose you fit a GP in batch mode using `1 x n x 1` train_x and `1 x n` train_y. Now I want to predict a `1 x n' x 1` test_x, but that fails with a size mismatch in non_lazy_variable:

[code]

[2018-08-17 21:09] jacobrgardner commented on #233
I believe `SpectralMixtureKernel` as implemented is a one dimensional kernel. To extend it to multiple dimensions, you should be able to build the multi dimensional version using `ProductKernel` and `active_dims`.

[2018-08-18 19:17] #233 closed

[2018-08-19 16:10] MaxCamPi opened #238 "kissgp_kronecker_product_regression"
After running the code in kissgp_kronecker_product_regression.ipynb, I obtain the following (after train()):

File "/Users/maxs/anaconda3/lib/python3.6/site-packages/gpytorch/utils/fft.py", line 11, in fft1
    return complex_input.fft(1)

RuntimeError: fft: ATen not compiled with MKL support

[2018-08-19 16:14] jacobrgardner commented on #238
This is actually an issue with your PyTorch installation. See #194. In general we recommend that you install on top of Anaconda python for ease, although in that issue apparently compiling PyTorch from scratch was an alternative.

[2018-08-19 16:43] MaxCamPi commented on #238
Thank you so much for such a prompt response!

[2018-08-19 16:43] #238 closed

[2018-08-19 17:05] Balandat opened #239 "Allow passing a fixed set of base_samples into sample"
In certain situations we'd like to be able to fix the base samples in the `zero_mean_mvn_samples` functions. One use case for this is using MC-based batch acquisition functions for Bayesian Optimization, in which a large number of samples are drawn from the posterior to MC-approximate the integral involved in the acquisition function. This sampling results in stochastic function and gradient evalu

[2018-08-19 21:14] #229 closed

[2018-08-23 12:11] tzoiker opened #243 "Ability to perform exact extrapolation with KISS-GP"
Correct me if I am wrong: KISS-GP requires O(1) computations in order to calculate the predictive mean value for each test point. However, the drawback is that for the points that lie outside of the grid, interpolation procedure uses the closest boundary grid points, which gives a very sharp transition of predictions outside of the boundary (first pic - exact, second - KISS-GP).

<img width="450"

[2018-08-23 16:41] jacobrgardner commented on #243
In the one dimensional setting with SKI (and in high dimensional adaptations like SKIP), a good approach to getting this behavior is to simply increase the bounds of the grids to not simply bound only the training data, but also the full bounds on which you plan to evaluate the model.

Doing so will of course incur some small additional cost corresponding to increasing the number of inducing point

[2018-08-23 21:37] tzoiker commented on #243
Seems reasonable, thanks!

[2018-08-27 18:18] jacobrgardner opened #244 "Make tutorial notebook for saving and loading models, initializing hyperparameters"
GPyTorch currently supports in code a few features that aren't actually used in any of the example notebooks right now:

- Saving and loading models from disk via PyTorch state dicts
- Setting initial hyperparameter values
- etc

We should write a quick tutorial on some of these features.

[2018-08-27 20:43] lionfish0 opened #245 "Links broken to example notebooks"
Links from https://github.com/cornellius-gp/gpytorch/blob/master/README.md to example notebooks broken.

[2018-08-27 21:09] jacobrgardner commented on #245
Thanks for pointing this out!

This has to do with some example notebook and tutorial reorganization now that we have so many of them, and now that we've greatly expanded the actual text surrounding the examples. The README now points to the right thing (which is the text in the example folder itself)

[2018-08-27 21:09] #245 closed

[2018-08-28 14:14] tzoiker opened #246 "Multitask KISS-GP error"
I am trying to run the code from Multitask_GP_Regression_Scalable_With_KISSGP.ipynb example from the master branch and get the following error at `observed_pred.confidence_region()`:

[code]
Single-task KISS-GP and multitask without kernel interpolation works ok.

[2018-08-28 14:50] jacobrgardner commented on #246
I'll look into this

[2018-08-28 19:16] #237 closed

[2018-08-28 19:16] #246 closed

[2018-08-29 10:59] tzoiker opened #247 "Multitask KISS-GP IndexError"
In Multitask_GP_Regression_Scalable_With_KISSGP.ipynb replacing `test_x = torch.linspace(0, 1, 51)` with `test_x = torch.zeros(1)`, i.e., predicting on a single test point gives the following error:

[code]

[2018-08-30 18:40] gpleiss commented on #247
What would happen if you tried `torch.zeros(1, 1)` for your single test data point?

[2018-08-31 09:32] tzoiker commented on #247
Yes, sorry, I have faced it in a bit another setting, `torch.zeros(1, 1)` will work, but not if do the same for the training data: `train_x = torch.linspace(0, 1, 100).unsqueeze(1)`.

Also 2D multitask (notebook attached) with kernel interpolation gives the following error in the loss calculation:
[code]
I guess, tensor in `toeplitz_matmul` has too many dimensions in this case (4).
[KISS-GP-multit

[2018-08-31 19:38] tzoiker commented on #247
I mean, if make train_x be of shape `N x 1` instead of `N`, then, test_x of shape `1 x 1` still fails.

[2018-08-31 22:29] gpleiss commented on #247
Okay - thanks for clarifying!

[2018-08-31 23:15] #247 closed

[2018-08-31 23:15] gpleiss commented on #247
Okay - the code in 1b809b3 should fix the problem you were seeing with 2D inputs. As far as test predictions for a single point - this commit might also fix that. If not, would you mind opening a separate issue for that?

[2018-08-31 23:34] gpleiss opened #248 "Move lengthscale outside of kernel"
**Proposal**: kernels are not responsible for lengthscales. We can introduce a separate scaling module that divides the data by lengthscales before feeding the data into the kernel

**Reasoning**: we do some batch-dimension hacking to get fast kernel diagonals, as well as fast batch kernels. For kernel diags - we transform the `n x d` data into `n x 1 x d` data, which then only computes kernel dia

[2018-09-01 19:55] tzoiker commented on #247
Seems working, thank you!

[2018-09-01 20:01] tzoiker opened #249 "KISS-GP + RBF kernel separate lengthscales error"
In KISS-GP setting with RBF kernel, for example, in 2D case (notebook attached), setting `ard_num_dims=2` gives the following error during loss calculation:

[code]

Setting `ard_num_dims=1` or `ard_num_dims=None` works fine, as well as without kernel interpolation. Matern kernel works fine for `ard_num_dims=2`.

[RBF_ard_num_dims.ipynb.zip](https://github.com/cornellius-gp/gpytorch/files/2342721/

[2018-09-02 11:30] tzoiker opened #250 "Multitask KISS-GP single test point error"
The problem from #247 seems to preserve for the particular single test points, e.g., if the grid is
 `[-3.3333, -1.6667,  0.0000,  1.6667,  3.3333]` when provided `grid_size=5` and `grid_bounds=[(-2,2)]`, then prediction will fail on any single test point outside of the range of `[0.0000,  1.6667]` (notebook attached):

[code]
[KISS-GP-multitask.ipynb.zip](https://github.com/cornellius-gp/gpytorch

[2018-09-02 13:46] jacobrgardner commented on #249
I see what the problem is, and I think this is related to some fixes we are planning to do for #248. Basically, the issue is that in `GridKernel` we handle the separate dimensions of the grid as batches rather than as dimensions because we only need the kernel between all grid points and the first point in each grid dimension only.

An easy solution to this for now is to do `RBFKernel(batch_size=2

[2018-09-02 13:57] jacobrgardner commented on #250
Looking in to this a bit, this appears to be an issue exclusive to having a single point in `Interpolation`. Predicting on two copies of `-0.1` instead of 1 copy works (e.g. if `test_x` is `2 x 1`

[2018-09-03 00:28] jacobrgardner commented on #249
@gpleiss I definitely still agree we should do that -- the additional issue here in my mind is consistency: lengthscales need to be `d x 1 x 1` for SKI because of how Grid kernel calls  RBF kernel but x 1 x d` for everything else. Is this okay?

[2018-09-07 01:13] Balandat commented on #248
So one use-case is to have different length-scales for different tasks in a multi-task GP. Do you think it would be easy to implement this under the new proposal?

[2018-09-07 13:46] jacobrgardner commented on #248
@Balandat Thought about this a bit. One issue with different lengthscales for different tasks is that it breaks the Kronecker product structure. Right now, exact multi task GPs take `O(n^2 + t^2)` space and `O(n^2t)` time. To achieve different lengthscales I don't see an obvious way around constructing the full `O(n^2t^2)` covariance matrix. It might be better to rely on a small shared neural netw

[2018-09-07 21:01] eytan commented on #202
Can we close this out?  This shipped a while ago in eb2aff4.

[2018-09-07 21:15] Balandat commented on #202
done by @rajkumarkarthik

[2018-09-07 21:15] #202 closed

[2018-09-08 20:36] sumitsk opened #252 "White noise kernel variance"
This is more of an implementation doubt rather than an issue. In the forward method of white_noise_kernel, when the module is in eval mode, shouldn't the elif condition return zero instead of training variances? Shouldn't white noise variance be training variance when x1 = x2 = training data?

https://github.com/cornellius-gp/gpytorch/blob/1b809b3c9570d617cb26949e40b921b36e826580/gpytorch/kernels/

[2018-09-10 19:36] gpleiss commented on #248
@Balandat - @jacobrgardner and I have a better idea. We'll keep lengthscales inside kernels, but the first step in `__call__` will scale the data by the lengthscale. This should fix all ARD and batch issues. (more detailed explanation and PR coming soon).

[2018-09-10 19:36] #248 closed

[2018-09-10 19:38] #156 closed

[2018-09-10 19:38] gpleiss commented on #156
It's started! http://gpytorch.readthedocs.io

[2018-09-10 19:40] jacobrgardner commented on #252
The intention of the `elif` is so that when you compute for example the predictive mean you get something like:

`\mu = k_{*x}(K_{xx} + s*I + D_{wn})^{-1}y`

which I think is correct given that this is happening at the kernel level. An alternative implementation of this we are considering is a `WhiteNoiseLikelihood` where the noise is added at the likelihood level. This would mean that the trainin

[2018-09-10 19:43] jacobrgardner commented on #252
(See also #235)

[2018-09-10 19:56] gpleiss commented on #243
Closing this for now, but please re-open if you feel we haven't addressed the issue :)

[2018-09-10 19:56] #243 closed

[2018-09-10 19:57] Balandat commented on #248
sounds good, will this work with kernels like the PeriodicKernel?

[2018-09-10 20:00] Balandat commented on #239
I have a draft for this, about to put up a PR.

@jacobrgardner What do you mean exactly? An interface for torch.distributions? Or for passing in base samples for a MVN?

[2018-09-10 20:03] jacobrgardner commented on #239
Yeah I meant for passing in a base samples. Just checking if whatever we do for this now will still be possible when we are constrained to the `torch.distributions` interface

[2018-09-10 20:07] jacobrgardner opened #254 "Rename LazyVariable to LazyTensor"
Given that (1) `LazyVariable` was intended to mimic `Variable` as closely as possible, but (2) `Variable` no longer exists in PyTorch, we should deprecate `LazyVariable` and rename it `LazyTensor`.

[2018-09-10 20:08] jacobrgardner opened #255 "Add example scripts for initialing hyperparameters for SKI"

[2018-09-10 20:08] jacobrgardner opened #256 "Add example notebooks for SGPR and SKIP"

[2018-09-10 20:09] gpleiss opened #257 "SGPR should use diagonal correction"

[2018-09-10 20:10] gpleiss opened #258 "Refactor Matern and spectral mixture kernels"
This should probably also fix #85

[2018-09-10 23:55] Balandat commented on #239
So I don't see an api for passing in base_samples into distributions from `torch.distribution`, but it wouldn't be hard at all to add this in a subclassed version (we'll want to subclass all of the rvs anyway so things work with LazyTensors). Let me start prototyping random_variables that use `torch.distributions` under the hood.

[2018-09-11 05:02] Balandat commented on #126
So I was toying around with this a little, and I'm not sure how to best handle this.

Regarding the MVN:
When there are no LazyTensors are involved, we can basically use the torch.distributions implementation (resulting in some changes to the api if we don't want to wrap the torch.distribution one).
If there are LazyTensors passed as args, we have to re-implement some things, but we'd want to re-u

[2018-09-11 14:01] Balandat commented on #126
@gpleiss I haven't worked much with the other random variables, are they supposed to work with LazyTensors? If yes then we'll need to wrap everything in a similar fashion, in which case a gpytorch Distribution class would make sense.

Using the distributions more or less directly will simplify things / reduce code bloat significantly, but it does entail a bunch of breaking changes. But better to g

[2018-09-11 14:38] gpleiss commented on #126
@Balandat looking through our other RandomVariables - it looks like most of them don't use LazyTensors or any additional functionality. So we should probably only write custom MVN and MultitaskMVN distributions

[2018-09-11 16:11] gpleiss opened #260 "For consistency: attrs should be `num_*`, not `n_*`"
We have a mix of `n_samples`, `num_dims`, etc. for different attributes. For consistency, we should use just one of these. I propose `num_` since it seems to be more commonly used with PyTorch.

We can accept both (for now) and deprecate `n_*`.

[2018-09-11 19:10] rajkumarkarthik commented on #248
I think as a very first pass, it would be good to have an implementation of an LCM kernel on GPyTorch. It combines being able to somewhat tailor length scales to tasks while not being computationally burdensome. Thoughts?

[2018-09-11 21:08] Balandat opened #261 "Implement LCM Kernel"
We can provide a simple ICM constructor that just wraps this for convenience/clarity. I'll have to think a little bit how we deal with the priors on the different index kernels involved - it's probably fine to have the correlation prior over all index kernels and specify that once in the constructor. Though it's not quite clear how these would be evaluated then in the current setup. Maybe the easi

[2018-09-11 21:11] Balandat commented on #248
Why would an LCM kernel be less computationally burdensome than having task-wise lengthscales? In terms of Kernel evaluation the task-specific lengthscales should not make any difference, only hyperparameter space would be higher dimensional in the fitting.

Regardless, having an LCM kernel would be useful, if anything as a baseline to compare against. #261

[2018-09-12 13:38] jacobrgardner opened #263 "Remove deprecated parameter bounds for beta release"
I am of the opinion that the deprecated parameter bounds should not make it in to the beta release, since they are just an alias for a prior at this point and not really even hard constraint bounds anymore.

Thoughts?

[2018-09-12 14:40] Balandat commented on #263
yeah, let's kill them for the beta

[2018-09-12 17:27] Balandat commented on #263
sounds good. I can take a stab at the LazyTensor codemod, we can get that in right away b/c it's not user-facing

[2018-09-12 22:04] samuelstanton opened #267 "Batch-mode not properly supported by priors"
Suppose you create `FooGP`, a subclass of `gpytorch.models.ExactGP` and have an instance `foo_gp`. We specify
[code]

Calling `foo_gp.foward()` results in the following error (here `B=5`, `D=6`)

[code]

However, if we say
[code]

We get this error
[code]

This suggests that batch mode is not properly supported by some (all?) priors.

[2018-09-12 22:18] Balandat commented on #267
Hmm, batch mode isn't very thoroughly tested in conjunction with priors, so there may well be a bug. Can you provide the code for a minimal reproducible example so I can take a look?

On a higher level, in light #126 of we should rethink whether priors should be derived from torch.distribution.Distribution as well, so as to inherit proper batch-evaluation natively and also to have the new and conv

[2018-09-12 23:33] Balandat opened #268 "Root decomposition fails for simple matrices"
Observing the following:

[code]

At least for `DiagLazyTensor` we should just short-circuit the special-case and just return `DiagLazyTensor(torch.sqrt(input_diag))`. Not sure about the other cases, things seem to work reasonably if the matrices have off-diagonal elements.

[2018-09-12 23:37] Balandat commented on #110
I'm going to put up a PR to kill this off once and for all, should be relatively straightforward in terms fo the codemod based on #265, now that there are no LazyVariables anymore....

[2018-09-12 23:39] jacobrgardner commented on #268
We should probably special case DiagLazyVariable and NonLazyVariable. That said, the decomposition we use should work for diagonal matrices, it's probably just an edge case we failed to catch.

[2018-09-12 23:40] jacobrgardner commented on #268
Actually @gpleiss this is an issue that would also go away if we use pivoted Cholesky for root decompositions in place of Lanczos

[2018-09-13 03:47] Balandat commented on #189
@darbour, I remember you mentioning you had some draft version of this? Could you surface this in a PR so we know if there are any changes that would be useful to make (see Kernel refactor #266).

[2018-09-13 12:39] gpleiss commented on #268
I could've sworn that we special-cased DiagLazyTensor, but maybe not...
For NonLazyTensor - @jacobrgardner I agree that switching to pivoted cholesky will probably fix things. As a temporary fix, we could special case `NonLazyVariable` to do cholesky if Lanczos fails?

[2018-09-13 12:43] gpleiss commented on #267
Yeah we probably to have priors inheret from torch distributions. I'll open an issue if one doesn't exist.
For the time being, I'll work on a quick fix to this issue.

[2018-09-13 14:17] #110 closed

[2018-09-13 19:11] samuelstanton commented on #268
I'd noticed this bug a while back and forgot to make the issue. Glad someone else remembered.

[2018-09-14 13:08] Balandat commented on #136
Yeah let's kill off `tensor_cls` and make sure LazyTensors implement both `dtype` and `device` properties in a way compatible to regular tensors. Both can be initialized from whatever base tensor / LazyTensor is passed into the constructor. We could even make these optional kwargs in the constructor, but I don't think that's necessary.

[2018-09-17 20:28] #214 closed

[2018-09-17 20:56] Balandat opened #271 "Lapack Error in TestSimpleGPRegression"
I'm getting a reproducible `RuntimeError: Lapack Error syev : 9 off-diagonal elements didn't converge to zero at caffe2/aten/src/TH/generic/THTensorLapack.cpp:395` in `test_simple_gp_regression.py` with this.

Not sure whether related to #266 or #270. @gpleiss, could you take a look?

[2018-09-17 22:00] gpleiss commented on #271
I'm not noticing this issue - @jacobrgardner and I are compiling PyTorch master to set if that's the issue

[2018-09-18 02:47] samuelstanton opened #274 "Fowarding through RBFKernel in batch-mode broken"
The recent changes to master have basically completely broken batch mode. This example is for the forward method in `kernels.RBFKernel`. As an example, consider the following code snippet
[code]
Out:
[code]

If you go in and look at the dimension of the tensors, `x1_.size()` is `[B x N x 1 x D]` and `self.lengthscale.size()` is `[B x 1 x D]`

[2018-09-18 03:02] Balandat commented on #274
@samuelstanton, #262 will use `torch.distributions` instead of the gpytorch RandomVariables - this should make sure that `sample` and `log_prob` work consistently in batch mode. Will update the PR tonight, hopefully we can get that in soon.

[2018-09-18 04:22] Balandat opened #275 "Add input validation to LazyTensor constructors and methods"
Currently, incompatibilities in `shape`, `device` or `dtype` between `LazyTensor`s can be very hard to debug, since they manifest at evaluation time deep inside the code, multiple levels deep.

Let's add validation of these to all the `LazyTensor` constructors and/or methods.
For instance, in the `MatmulLazyTensor` constructor we'd validate that both args have the same `device` and `dtype`, and th

[2018-09-18 16:49] #136 closed

[2018-09-18 16:53] gpleiss commented on #258
Closed by #266

[2018-09-18 16:53] #258 closed

[2018-09-18 16:55] gpleiss commented on #274
@samuelstanton - I think the issue is in your example? Your `test_mean` should be a `2 x 3` tensor.

[2018-09-18 18:50] samuelstanton commented on #274
@gpleiss There was indeed a mistake in that example. I've update the issue with an example of the issue with forwarding through kernels in batch mode.

[2018-09-18 20:14] gpleiss commented on #274
@samuelstanton what's the exact error message you're getting?

[2018-09-19 12:10] gpleiss commented on #274
Figured out the error. It was introduced by #266 😬
Fixing it right now

[2018-09-19 16:55] Balandat opened #279 "Helper function for automateing model fitting"
Currently, model fitting requires writing a custom loop to take gradient steps. All the tutorials perform that for a fixed number of steps without any kind of smartness about how the loss / the parameter values evolve during the course of the optimization.

To make this easier for the non-expert (and to avoid writing tons of boilerplate code), I suggest we provide an (optional) wrapper for the mod

[2018-09-19 18:33] jacobrgardner commented on #279
An intern here was working over the summer on a scikit learn / skorch style wrapper for GPyTorch. I believe this is actually in a pretty good state, and might also be something we will throw in a public repo fairly soon.

[2018-09-19 18:47] Balandat commented on #279
Ah ok - would be good to see what's there. Would the idea be to bundle this with gpytorch or have it separate?

[2018-09-19 19:49] #274 closed

[2018-09-19 19:49] gpleiss commented on #274
@samuelstanton try now

[2018-09-19 19:49] gpleiss commented on #271
@Balandat - this might have been fixed by 2a77a6b - could you check?

[2018-09-19 21:09] samuelstanton commented on #274
That fixed that issue, but there appears to be another bug. If you try to run the following:
[code]
You get
[code]

What's weird about this one, is it seems like you shouldn't be getting it if `train_targets` are the same size as `output.mean()` which you can see that they are. Should I open another issue for this? On another note, I'm going to convert this script to a unit-test.

[2018-09-19 21:11] gpleiss commented on #274
You should use `ScaleKernel(RBFKernel())` for outputscales - I think then it should work.

[2018-09-20 14:36] jacobrgardner commented on #271
I am pretty confident this is now resolved on pytorch master.

[2018-09-20 14:36] #271 closed

[2018-09-20 21:38] Balandat opened #281 "Use recommended tensor copying"
Let's get rid of the following `UserWarning` throughout:
[code]

[2018-09-20 23:51] Balandat commented on #236
Any progress on this? I think standardizing this throughout the codebase will be necessary to make the torch distributions (and other stuff like the HeteroschedasticLikelihood) work as expected.

[2018-09-21 14:23] Balandat opened #282 "Supporting known covariance across outcomes"
*Thanks to @bletham for parts of this little writeup*

In the input data passed to the model, we ideally want to support both
1. different observations per outcome, and
2. known covariance across outcomes

Currently, we only support known variances (no correlation between outcomes) via the WhiteNoiseKernel, which we plan to move into a HeteroskedasticLikelihood (see #235).

The current specificati

[2018-09-21 14:35] Balandat commented on #282
@gpleiss, @jacobrgardner, I guess the more basic question is how we'd handle the across-outcome observed covariances in the simple representation (%). We should think about that in the context of #235.

[2018-09-22 16:38] Balandat opened #284 "Derive priors from torch.distributions"
We can re-use a bunch of functionality, and we'll also conform to how torch.distributions handle batch mode. This should solve #267.

For the basic versions (e.g. Normal or Gamma priors) there are a couple of things to do
1. overwrite `log_prob` in the base class so that the handling of log-transform is done as is currently [this is straightforward]
2. make sure `Prior` is derived from torch.nn.Mo

[2018-09-23 19:02] Sabina321 opened #285 "multitask learning where each task has multiple kernels"
Hello,

I have got a working example of using a multitask GP using gpytorch, and also got an example working where the covariance has multiple kernels, but when I try to combine them the training fails. The forward method works but I'm not sure where it is failing in the training. Has anyone seen this before/have suggestions?

[2018-09-23 19:07] jacobrgardner commented on #285
Do you maybe have an example model or some example code that fails? It might be hard to hazard a guess about what's going wrong without seeing exactly what you're trying.

[2018-09-23 19:09] Sabina321 commented on #285
This is what I was trying to do:

class  MultitaskGPModel(gpytorch.models.ExactGP):
    def __init__(self, train_x, train_y, likelihood):
        super(MultitaskGPModel, self).__init__(train_x, train_y, likelihood)
        # Default bounds on mean are (-1e10, 1e10)
        self.mean_module = ConstantMean()
        # We use the very common RBF kernel

        self.covar_one_module = RBFKernel()

[2018-09-23 19:26] jacobrgardner commented on #285
025f4cf should fix this for the Hadamard multitask case.

The Kronecker multitask case seems to already support this (even our example notebook for it uses the sum of two multitask kernels for example: https://github.com/cornellius-gp/gpytorch/blob/master/examples/03_Multitask_GP_Regression/Multitask_GP_Regression.ipynb)

Feel free to reopen the issue if there are still problems!

[2018-09-23 19:26] #285 closed

[2018-09-23 19:40] Sabina321 commented on #285
Great looks like it fixed it. Thanks!

[2018-09-23 19:49] #281 closed

[2018-09-24 13:28] gpleiss commented on #236
We have a feature test that sort of covers this, but right now it expects that you update the training data to include batch data. I'll try to tackle this today or tomorrow

[2018-09-24 15:18] Balandat commented on #236
ok cool - let's consider this in the context of #262 and #286, with which we're hopefully converging to a standardized way of handling batches everywhere

[2018-09-25 03:48] Balandat commented on #263
This is addressed by #286

[2018-09-25 15:52] gpleiss commented on #284
CLosed by #286

[2018-09-25 15:52] #284 closed

[2018-09-25 15:53] gpleiss commented on #267
This should be fixed on the beta branch. @samuelstanton can you check?

[2018-09-26 17:04] #263 closed

[2018-09-26 17:08] Balandat commented on #227
logdet computation handed differently in the new Wishart implementation #290.

Unit tests for Wishart, InverseWishare and LKJCholeskyFactorPrior, LKJCovariancePrior still need to be done.

[2018-09-26 17:09] Balandat commented on #198
Handled in #290

[2018-09-26 17:09] #198 closed

[2018-09-26 18:04] Balandat opened #291 "Document various ways GPs can be used in batch mode"
Batch mode (fitting and predicting) is currently a "hidden" feature as it's not very well documented and does not have a tutorial.

We should add documentation and also unit tests to make sure this works as expected (this was the cause for a lot of bugs in the past).

[2018-09-26 18:09] Balandat commented on #291
I guess this is particularly important for batch-training of independent GPs, b/c the standard pattern
[code]
will fail. If none of the hyperparameters are shared, then a straightforward way to do this is to use `loss= -mll(output, train_y).sum()`, but things get murkier if some parameters are shared across batches since the losses of the individual batches will not be independent w.r.t. to the mo

[2018-09-26 18:19] Balandat commented on #291
This is related to #130

[2018-09-26 19:05] Balandat opened #292 "Inconsistent behavior of .diag() method for different Lazy Tensors in batch mode"
E.g:

[code]

This causes inconsistencies when using batch mode. My suggestion is to ensure that all `.diag()` calls reduce the last two dimensions of the tensor, i.e. for a `b1 x b2 x n x n` LazyTensor this would return a Tensor of Size `b1 x b2 x n`. This is the same as the behavior of `torch.diagonal(X, dim1=-2, dim2=-1)`.

[2018-09-27 14:29] gpleiss commented on #182
Closed by #293

[2018-09-27 14:29] #182 closed

[2018-09-27 14:32] gpleiss commented on #291
I'll work on an example notebook when I go through and fix all the other notebooks.

[2018-09-27 14:32] gpleiss commented on #291
I'm also working on better batch mode tests r.n. as part of the batch mode PR

[2018-09-27 14:55] Sabina321 opened #294 "multitask with many tasks, Function AddDiagLegacyBackward"
Hello,

I am trying to do a multitask gp with 36 tasks. However, I'm getting an error in training:

Function AddDiagLegacyBackward returned an invalid gradient at index 1 - expected shape [1] but got []

I wanted to check a few things about setting up this model.

Following the multitask example:https://github.com/cornellius-gp/gpytorch/blob/master/examples/03_Multitask_GP_Regression/Hadamard_Mult

[2018-09-27 15:11] Sabina321 commented on #294
Hi again,

This might be related to the fix suggested for the last thing I posted. It actually seems like I'm getting the error now with the example code as well.

[2018-09-27 15:19] jacobrgardner commented on #294
I am not able to reproduce this easily on the latest version of master. In the example notebook, I changed the `IndexKernel` creation to `self.task_covar_module = IndexKernel(n_tasks=36, rank=1)`.

Have you pulled recently?

[2018-09-27 15:33] Balandat commented on #294
Orthogonal to the question at hand, but using 36 tasks is probably pushing it. Either you need tons of data to estimate these correlations (then it becomes computationally challenging). Or you use less data and it will be hard to estimate the correlations between that many parameters. Note also that you're using a rank 1 approximation of a 32x32 correlation matrix, which seems problematic. If you

[2018-09-27 15:56] Sabina321 commented on #294
@jacobrgardner I just reinstalled. And I had changed that line. But do you not get that error when you run the example:

https://github.com/cornellius-gp/gpytorch/blob/master/examples/03_Multitask_GP_Regression/Hadamard_Multitask_GP_Regression.ipynb

I think this is just happening after I made the changes in #285, is there any way they are related?

[2018-09-27 15:59] gpleiss commented on #294
@Sabina321 @jacobrgardner @Balandat I have seen similar issues (related to batch MTGPs). I am working on a PR to address them

[2018-09-27 16:01] Sabina321 commented on #294
I just took out the changes from #285 and now the example is working again.

[2018-09-27 16:02] Sabina321 commented on #294
And the 36x36 case works as well.

The code from #285 did fix that issue, however, so I don't want to throw out the baby with the bath water.

[2018-09-27 16:02] gpleiss commented on #294
Sorry, do you mean you reverted 025f4cf ?

[2018-09-27 16:27] Sabina321 commented on #294
Yes. I reverted it and that fixed this problem.

[2018-09-27 16:47] #294 closed

[2018-09-27 16:47] gpleiss commented on #294
@Sabina321 try now on master - it should work

[2018-09-27 16:51] gpleiss commented on #292
This will probably be fixed with the kernel refactor I'm working on

[2018-09-28 17:38] sumitsk opened #297 "Multitask GP Models"
This is not an issue but instead a feature request. Is there any plan to include multi-output GP models like Convolved MOGP, Collaborative MOGP, Spectral Mixture Kernels for MOGP in this repository? It will be really nice to have these models in addition to the Kronecker product model.

[2018-09-28 20:13] gpleiss commented on #159
Closed by #296

[2018-09-28 20:13] #159 closed

[2018-09-28 20:14] gpleiss commented on #126
Closed by #288

[2018-09-28 20:14] #126 closed

[2018-09-28 23:22] Balandat opened #300 "Move LKJ priors into pytorch core (as distributions)"
These are generally useful, we should PR this into pytorch core. See https://pytorch.slack.com/archives/C879Y9Q8K/p1538155154000100

Will require implementing sampling functionality. This is Algorithm 3.2. from
*D. Lewandowski, D. Kurowicka, and H. Joe. Generating random correlation matrices based on vines and extended onion method. Journal of Multivariate Analysis, 100(9):1989 – 2001, 2009. ISSN

[2018-09-29 17:05] kingaza opened #301 "Does the DKL really work?"
I try the example [combining KISS-GP, Deep Kernel Learning, and stochastic variational inference](https://github.com/cornellius-gp/gpytorch/blob/master/examples/05_Scalable_GP_Regression_Multidimensional/KISSGP_Deep_Kernel_Regression_With_Stochastic_Variational_Inference_CUDA.ipynb). The RMSE is 0.48.
However, the y values are in [-1.25, 1.90]. Therefore, I think this RMSE is too large. This situa

[2018-09-29 17:27] jacobrgardner commented on #301
In that notebook we are reporting mean absolute error, and the numbers with sufficient training are at least consistent for that dataset with the numbers reported in the DKL paper https://arxiv.org/pdf/1511.02222.pdf for the song dataset. That paper also reports the error of the neural network on its own, which is comparable. Therefore, we reasonably believe that DKL is indeed working as expected,

[2018-09-29 17:27] eytan commented on #151
@stanbiryukov, any updates on this?

[2018-09-29 17:33] jacobrgardner commented on #301
@eytan @gpleiss @andrewgordonwilson Our original design goal for the DKL example notebooks was just to reproduce closely the results from the original paper. Maybe it would be better for us to actually do some hyperparameter tuning and architecture design and just try to get results that are as competitive as possible for the benchmark datasets those notebooks download.

[2018-09-29 17:33] eytan opened #302 "Feature request: allow lists for active_dims in RBFKernel()"
When specifying the `active_dims`, one is able to use a list when on a CPU, but on a GPU, one needs to manually construct pytorch tensors for the appropriate device.  This results in some pretty ugly code to construct fully additive kernels, like:

[code]

It would be a lot more convenient if one didn't have to worry about whether one were in GPU/CPU mode, so that one could just write:
[code]

[2018-09-29 17:39] Balandat commented on #302
In your last example the first `RBFKernel` doesn't know the device unless we tell it what it should live on. Adding that into the constructor would be pretty ugly tough.

What we could do instead is make the active_dims a buffer then calling `.cuda()` on the overall model will do the right thing. We could also add logic that automatically moves components of an additive kernel to the GPU if the fi

[2018-09-29 17:46] kingaza commented on #301
thanks @eytan @jacobrgardner for the quick reply and suggestion
@jacobrgardner actually I have done 1) larger network and 2) more epochs, but the error is still too large. I will double check it again and tried decay and batchnorm.

thx again.

[2018-09-29 17:47] eytan commented on #301
I wonder if it's worth having two separate notebooks, one that is a sort of collection of replications from the literature to show the sanity of the software, and another that demonstrates the state-of-the-art / best practices.  I suspect that many users (myself included) will start using the software by copypasta'ing bits of these tutorial notebooks, so it's important to add things like weight de

[2018-09-29 19:18] Balandat commented on #302
@eytan, with #303 you can just add create the model as usual, and then call `.cuda()` on the overall model, this will automatically cudaify the `active_dims` in all attached kernels.

[2018-09-29 23:04] gpleiss commented on #302
Closed by #303

[2018-09-29 23:04] #302 closed

[2018-10-01 14:02] #279 closed

[2018-10-01 14:08] stanbiryukov commented on #151
@eytan No updates yet - haven’t been able to spend more time with parallelism.  For my particular problem I simply used a sparser dataset.

[2018-10-01 14:41] gpleiss commented on #292
I'm going to call this closed by #293

[2018-10-01 14:41] #292 closed

[2018-10-01 16:28] gpleiss opened #306 "Cuda tests for LazyTensors"

[2018-10-01 19:47] stanbiryukov commented on #151
Good point, using KISSGP on all training data instead of exact GP on sparser data improved my out of sample RMSE.  Thanks @andrewgordonwilson

[2018-10-01 23:34] Balandat commented on #261
this is done, thanks to @rajkumarkarthik

[2018-10-01 23:34] #261 closed

[2018-10-01 23:35] Balandat commented on #227
LKJ tests were added by #305, leaving this open for the Wishart ones

[2018-10-02 01:56] gpleiss commented on #267
Closing this for now - should be fixed by #284

[2018-10-02 01:56] #267 closed

[2018-10-02 04:12] jacobrgardner commented on #249
Fixed by #307 on the beta branch.

[2018-10-02 04:12] #249 closed

[2018-10-02 20:59] sumitsk opened #312 "GridInterpolationKernel bug"
Running the [KISSGP_Kronecker_Regression.ipynb](https://github.com/cornellius-gp/gpytorch/blob/alpha/examples/05_Scalable_GP_Regression_Multidimensional/KISSGP_Kronecker_Regression.ipynb) script throws this error:
`AttributeError: 'Tensor' object has no attribute 'flip'`

The bug is associated with GridInterpolationKernel as other scripts with the same kernel throws the same error and when I repla

[2018-10-02 21:31] jacobrgardner commented on #312
Is this on the very recent beta release a couple hours ago or on an older release on alpha?

[2018-10-02 21:54] sumitsk commented on #312
This was on the alpha version. On the latest beta release, there is this bug while importing gpytorch:
[code]

[2018-10-02 21:59] Balandat commented on #312
@sumitsk this is likely b/c you're not using the most recent version of pytorch (gpytorch beta is developed against the pytorch 1.0 pre-release). You can find a recent tagged release here: https://github.com/pytorch/pytorch/releases/tag/v1.0rc1

[2018-10-02 22:57] sumitsk commented on #312
@Balandat Yes you are right. I updated to pytorch 1.0 and everything seems fine so far!! Closing this issue now.

[2018-10-02 22:57] #312 closed

[2018-10-03 05:07] sumitsk commented on #256
Hey guys! I believe this is not completed in the beta release. Can you kindly provide an example script for SKIP algorithm?

[2018-10-03 05:08] jacobrgardner commented on #256
Yes, I will make a SKIP tutorial notebook first thing in the morning.

[2018-10-03 14:11] jacobrgardner opened #313 "Implement default preconditioner for non AddedDiagLazyTensors?"
Right now, we precondition linear solves and log determinants for `AddedDiagLazyTensors`. This instance of the preconditioner uses the Woodbury formula to solve with `L_{k}L_{k}^{\top} + s*I`, and the matrix determinant lemma to get the log determinant of that matrix (see the NIPS paper).

Absent an added diagonal, I think `L_{k}` could still be useful for preconditioning at least linear systems b

[2018-10-03 14:33] jacobrgardner commented on #313
If I've done math right, one possible inner definition of `precond_closure(v)` is:
[code]

[2018-10-03 21:52] jacobrgardner commented on #256
@sumitsk Just pushed a SKIP example notebook! We'll write an SGPR / SVGP one soon and then close out this issue.

[2018-10-04 00:37] sumitsk commented on #256
Thanks a lot @jacobrgardner . Appreciate your quick help :) !!

[2018-10-04 05:44] eytan opened #314 "What is ard_num_dims useful for?"
What is ard_num_dims useful for?  Are there any use cases for when you'd want ARD for some kernel parameters but not others (at least within the context of a single constructor call)?.  It's also not clear what the expected behavior is when `ard_num_dims` is not equal to the number of dimensions being fed into the kernel.

[2018-10-04 14:46] gpleiss commented on #314
When ard_num_dims is not set, then we use the same scaling parameters for each dimension. This makes for a simpler model and can work when your dimensions operate at roughly the same scale (e.g. if you preprocess your data). This also simplifies the model by reducing the number of MLE-estimated parameters.

If it is set, and set to something that is not the dimensionality then there will be an err

[2018-10-04 14:49] eytan commented on #314
I guess to put it another way, why not just have a flag that says ard=True or False? :) it would get rid of a lot of boilerplate and room for error.

Sent from my iPhone

[2018-10-04 14:58] Balandat commented on #314
The reason ARD is not just a flag is b/c we need to instantiate the lengthscale Parameter with the correct size. A flag wouldn’t give us that info.

No we could potentially change things to auto-instantiate the parameter upon the first kernel call, inferring the number of parameters, but that seems like too much magic (and complication of the kernel code internals)

[2018-10-04 15:21] gpleiss commented on #314
We tried originally having the auto-instantiating parameters, and it’s a nightmare for saving/restoring models. I think users will have to supply the actual number of dimensions.

This mirrors what’s currently done in most PyTorch layers - the user must specify the appropriate number of dimensions for linear layers, etc.
On Oct 4, 2018, 10:58 AM -0400, Max Balandat <notifications@github.com>, wrot

[2018-10-04 16:00] eytan commented on #314
That makes sense.  From a user-interface point of view it seems weird that you only need to specify the number of dimensions when using ARD.  I don't know if that is good enough reason to force everybody to manually write out the number of dimensions that you are planning on using.  Is it possible that there might be some downstream benefits / simplifications that could happen if you specified the

[2018-10-04 16:15] jacobrgardner commented on #313
@gpleiss Initial results suggest this is in fact a terrible idea :-)

I'll keep pushing on it and try to understand exactly why this is failing.

[2018-10-04 17:40] #301 closed

[2018-10-04 19:17] gpleiss commented on #260
CLosed by #308

[2018-10-04 19:17] #260 closed

[2018-10-04 19:17] gpleiss commented on #255
Closed by #276, #308

[2018-10-04 19:17] #255 closed

[2018-10-04 19:18] gpleiss commented on #85
Since the spectral mixture kernel was refactored by #258 - I'm going to close this for now. Please reopen if you discover new problems!

[2018-10-04 19:18] #85 closed

[2018-10-04 22:50] Sabina321 opened #316 "New version issues"
Hi, I'm seeing errors importing gpytorch after updating.

ImportError: cannot import name '_standard_normal'

[2018-10-04 23:40] Balandat commented on #316
See https://github.com/cornellius-gp/gpytorch/issues/312#issuecomment-426444902

[2018-10-05 02:16] sumitsk opened #317 "Model training slow in beta version"
Training a GP model in the very recent beta version takes significantly more time than that in the older alpha version. I tested this on a simple 1D regression task (taken from notebook) and found that the average training time in beta version is 2.32 seconds compared to 1.21 seconds in alpha version for the exact same scipt (pasted below) except the random_variables replaced by distributions. The

[2018-10-05 02:28] jacobrgardner commented on #317
Is this true if you run with the alpha release but also against PyTorch 1.0? I think we've found things to be slightly slower with 1.0, which is something we're working to understand but a full factor of two is pretty surprising. @gpleiss and I will investigate.

[2018-10-05 02:40] sumitsk commented on #317
With alpha version and Pytorch 1.0.0.dev20180928, the run time is same as with beta version (2.3 seconds).

[2018-10-05 02:43] jacobrgardner commented on #317
Okay gotcha, thanks for the info.,So basically what we need to understand is what on Earth we are doing wrong with respect to PyTorch 1.0 to slow us down so much.

I'm wondering if there's actually a full factor of two slowdown somewhere or if it's just some constant additional overhead that seems bad with only 100 data points. The latter is annoying, but not as serious a problem as the former.

[2018-10-05 02:52] sumitsk commented on #316
You need to have Pytorch 1.0 to be able to use the beta version. If you are using anaconda, go here https://anaconda.org/pytorch/pytorch-nightly

[2018-10-05 02:55] sumitsk commented on #317
If this helps, for 500 datapoints, the training time in Pytorch 1.0 is ~4 seconds compared to 2.8 in Pytorch 0.4. For 1000 datapoints, the difference is also ~1 second. It seems that there is come constant additional overhead somewhere.  This is for the training part only, I haven't checked the model prediction runtime.

[2018-10-05 14:33] Balandat commented on #317
Looks like we need to some profiling to dissect and figure out where the overhead in pytorch 1.0 comes from. @jacobrgardner, @gpleiss, can one of you take a stab at this? We should also check the runtime for predictions / gradients of the predictions.

[2018-10-05 15:29] gpleiss commented on #317
Let me play around with `gpytorch.utils.interpolation.left_interp`. It was highly tuned on PyTorch 0.3 - we might need to do some slightly different functions for 1.0

[2018-10-05 15:35] jacobrgardner commented on #317
@gpleiss A big part of the problem in profiling I'm seeing is actually all the advanced indexing we do in `pivoted_cholesky`. More importantly, these slowdowns are for exact_gps, so I don't think `left_interp` is likely the issue here.

[2018-10-05 15:48] Balandat commented on #317
Is this a known problem? Have you opened up an issue on pytorch gibhub?

[2018-10-05 15:48] gpleiss commented on #317
It looks like this indexing slowdown is a known issue in PyTorch: https://github.com/pytorch/pytorch/issues/11647#issuecomment-425282400

[2018-10-05 15:50] Balandat commented on #317
hmm they say a fix is in the works but issue is still open so I guess we'll just have to wait

[2018-10-08 00:41] eytan opened #318 "Best way to fit multi-task model with independent tasks?"
I am doing some comparison across multi-task models and would like to compare against a model that models each task independently.  Is there an easy way to specify such a MT kernel?  Ideally it would not require greater time/space complexity than fitting each task separately.

[2018-10-08 00:53] jacobrgardner commented on #318
My recommendation would be to just take advantage of the batch mode functionality we added that lets you train multiple GPs simultaneously.

I suppose you could also handle this as multitask by initializing the task covariance matrix to identity and setting `requires_grad` to True, but it sounds like your problem is exactly what we implemented batch mode for :-)

[2018-10-08 01:16] jacobrgardner commented on #318
See https://github.com/cornellius-gp/gpytorch/blob/master/examples/01_Simple_GP_Regression/Simple_Batch_Mode_GP_Regression.ipynb

[2018-10-08 01:38] eytan commented on #318
Initializing the task covariance to the identity and turning off autograd sounds like an elegant solution! Is there any reason to prefer doing things with batch mode?  One advantage is that it would make it easier to use ARD with different lengscales in batch mode.

[2018-10-08 01:49] jacobrgardner commented on #318
Tl;dr: I would anticipate batch mode being faster.

Long version: the way multitask is implemented is by forming a `KroneckerProductLazyVariable` which would have the same running time if the Identity matrix formed was actually a `DiagLazyVariable`, but since the multitask code expects the task covariance to be any matrix it doesn't make a `DiagLazyVariable` so may incur the cost of multitask GPs

[2018-10-08 13:44] Balandat commented on #318
@eytan, the question is also whether you want a single set of hyperparameters shared across the different tasks, which is what the MTGPs do. In standard batch mode you have fully independent GPs (unless you do share the hyperparameters across batches, which is also possible, see https://github.com/cornellius-gp/gpytorch/blob/master/test/examples/test_batch_gp_regression.py#L156).

[2018-10-08 14:53] eytan commented on #318
I think batch mode makes the most sense here. I just want to make sure that it maintains the same interface as a MT-GP, as to more easily facilitate direct comparison across independent GP and Multi-task methods.

Sent from my iPhone

[2018-10-08 15:56] sadatnfs opened #319 "Adding kernels in a GP Regression"
Hello,

I was wondering if it's possible to add (or multiply, which I guess the kronecker does for you) different kernels across different dimensions of my training data.

This is what I have tried to do (code below), but the fitting gives me a dimensionality error. I'm wondering if anyone else has implemented this already?

Basically: I am ultimately trying to build a model of the type : Y = b1*X

[2018-10-08 16:08] jacobrgardner commented on #319
If you want fully additive structure (e.g., your function fully additively decomposes over the dimensions with one component per dimension), we recommend using `AdditiveStructureKernel(GridInterpolationKernel(..., num_dims=1))`. This basically tells us to decompose `X` additively and send each dimension on to a 1D `GridInterpolationKernel`.

In your example attempt to build a kernel, it looks like

[2018-10-08 19:06] jacobrgardner opened #320 "Preconditioning for SV-DKL is slow"
I'm just opening an issue so that we can track the fact that we are aware of this, but it seems that until PyTorch implements batch potrf (https://github.com/pytorch/pytorch/pull/11796/) using preconditioning for SV-DKL training is definitely not worth it.

I've been running some speed tests, and it makes training about 5x slower in the example notebook (going from ~100ms per minibatch to ~600ms p

[2018-10-08 19:12] jacobrgardner commented on #320
Related: I've also verified that with preconditioning off, the bottleneck seems to remain to be the lack of batched small matrix eigenvalue solvers / access to a batched `syevj` call (see https://github.com/pytorch/pytorch/issues/10172).

[2018-10-09 03:46] sumitsk opened #321 "SpectralMixtureKernel example typo"
It seems that the example part in `spectral_mixture_kernel.py` file has been copied but not modified from the `rbf_kernel.py` file. See [here](https://github.com/cornellius-gp/gpytorch/blob/f17e2bfbf8311575b08b051bc8052613518fc647/gpytorch/kernels/spectral_mixture_kernel.py#L53-L53)

[2018-10-09 13:01] gpleiss commented on #321
Oops thanks for the catch! I'll fix this example.

[2018-10-09 13:05] gpleiss commented on #320
I'll ping the issues, and maybe try taking a stab at them myself.

[2018-10-09 15:46] sadatnfs commented on #319
Oh that works beautifully thanks @jacobrgardner !

One last question: if I were to have a 3D problem where I have three dimensions of GP (let's say location, age and time), and I have 3 different types of kernels on them, is there a way to make a kronecker GP out of those 3 independent GPs? In your example which works, you've added the two independent kernels, and so I was thinking of a more expen

[2018-10-09 21:01] #321 closed

[2018-10-10 02:46] jacobrgardner commented on #319
Hi @sadatnfs if what you want really is kronecker structure, then you'll want to make `KroneckerProductLazyTensors` out of the outputs of the individual covariance modules. Something like:

[code]
Then in forward:
[code]
Be aware that this will result in a (lazily represented) n^3 x n^3 kernel matrix, so you'll need (for example) n^3 labels to go along with this. Is this what you want? Or did you

[2018-10-10 02:52] sadatnfs commented on #319
Hmm I think I actually would want to have the kronecker of the three dimensions, because I'd like to be able to correlate all 3 of my dimensions. That definitely sounds like it'll get super expensive; I've only been able to implement that efficiently in a package in R which uses GMRF and sparse matrices to cut down on computation time, so I'm pretty interested in seeing how far I can push gpytorch

[2018-10-13 22:39] sadatnfs opened #323 "Help with fitting a multidimensional GP regression with IndexKernel (and maybe AR1?)"
Hi everyone,

I'm trying to fit a multidimensional regression where I have GPs on 3 dimensions:
[code]
where I'm treating `X1` and `X2` as fixed effects (and hence entering with a linear kernel), and L, A and T are all integers denoting location, age and time.

I'd like to have, let's say, a Matern and RBF on `T` and `A` respectively (planning to have an AR1 on `A`), and an IID like kernel on `L`.

[2018-10-14 18:00] sumitsk commented on #323
IndexKernel only accepts discrete indices as it is represented as a simple lookup table. You have set `num_tasks=1` while defining it, so you should verify what index is propagating in forward pass. Also, why do you want to use a GridInterpolationKernel wrapped with IndexKernel? If you have only a pre-known discrete set of locations L, can't use work with only an IndexKernel and set num_tasks=L?

[2018-10-14 20:33] jacobrgardner commented on #323
@sadatnfs What exactly is the output you'd like to get out of the location kernel? You mentioned they are iid, do you just want a learned diagonal matrix out of it?

[2018-10-14 21:27] sadatnfs commented on #323
Thanks @jacobrgardner. (I think one of my biggest issues is that I'm thinking of this in terms of how I'd model this in an econometric sense rather than statistical!) Yeah I'd like to have a diagonal matrix covariance. I'm trying to model the equivalent kernel of a distribution like :

[code]
and so the location intercepts will be fit like a classical mixed effects model (which is why I'm more fam

[2018-10-15 15:02] jacobrgardner commented on #323
Sorry, two more short questions! Is the set of possible locations you will find in your data discrete, and would you like to have different noise values for each possible location, or a single `location_sigma` as in your equation above?

[2018-10-15 15:36] jacobrgardner commented on #323
Given that you are trying to add a single learned noise component that is independent of the actual location, I might just initialize this as a model parameter and add it in `forward`. Something like:

[code]

If you want different noises for the different discrete locations, you can make the parameter a vector, and then do something like:
[code]

Do you think this is a reasonable solution for you

[2018-10-15 15:36] sadatnfs commented on #323
I guess the way to describe my problem would be : I'm trying to fit a hierarchical mixed effects model with GP errors, where the hierarchy component comes from the locations, such that we have all our global coefficients and then we can further decompose the intercepts by country. Starting with that, I'll continue to build on other fun stuff, like coefficients by location, etc.

[2018-10-15 15:40] Balandat commented on #323
Relevant also to #235

[2018-10-15 15:41] jacobrgardner commented on #323
As one last addendum, if you want to do something more complicated like add `location_noise` to the covariance matrix entries wherever `x1_loc == x2_loc`, you should be able to accomplish that with a custom model parameter as well.

Basically, you should have pretty wide freedom to define parameters you need and modify the covariance matrix you create directly in `forward`, which might be an easie

[2018-10-15 16:52] sadatnfs commented on #323
Oh shoot sorry Jake, I completely missed your reply before posting my last reply. I will give your code a shot later on in the day, thank you so so much for the detailed help!

[2018-10-15 22:29] sadatnfs commented on #323
@jacobrgardner ah I think I might have misspecified my question. What I'm trying to estimate is a location specific intercept fit and those intercepts happen to be drawn for a normal distribution. With your implementation, it looks like I can't seem to tie the location groups with the noise value right? (Amusingly, your example told me exactly how to implement noise on the covariance for my other

[2018-10-16 14:23] messiest opened #325 "Error in Deep_Kernel_Learning_DenseNet_CIFAR_Tutorial.ipynb"
In the tutorial example for Deep Kernel Learning on the CIFAR datasets there is an issue in the `test()` function. The following error is raised:

[code]

It appears that the output of `likelihood()` should be an instance of `torch.Tensor`, and not `torch.distributions.categorical.Categorical`. This is consistent with `gpytorch.likelihoods.SoftmaxLikelihood`. Should `.argmax()` be called on one of

[2018-10-16 14:35] gpleiss commented on #325
Oops - I think the example might be out of date. One sec...

[2018-10-16 14:35] jacobrgardner commented on #325
@gpleiss Probably we'd prefer to keep returning a `Categorical` but then in the test method do:
[code]
right

[2018-10-16 14:36] gpleiss commented on #325
Right - @messiest it should be `pred = output.probs.argmax(1)`.

I swear I updated that example for beta, but maybe not. I'll push a change now.

[2018-10-16 14:42] messiest commented on #325
@jacobrgardner I had been trying `pred = output.probs.argmax()`, but the dimension was wrong and would raise the following `RuntimeError`:

[code]

@gpleiss Excellent, works like a charm now. (Fixed locally).

[2018-10-16 14:43] jacobrgardner commented on #325
@messiest Yeah my bad, `argmax` without an argument will get you the argmax over the entire return tensor, which is like... the highest probability class for any point in your entire test batch haha

[2018-10-16 14:46] messiest commented on #325
@jacobrgardner Yeah, I was running into that yesterday and getting some really interesting results haha

Thanks for the help y'all!

[2018-10-16 14:48] #325 closed

[2018-10-16 15:19] gpleiss commented on #325
@messiest - just updated the example notebook. You might want to check out the new optimizer settings. In my latest experiments I've noticed that you want a much smaller learning rate on the kernel hyperparameters, but the GP's variational parameters should have a pretty high learning rate.

[2018-10-17 00:55] Sabina321 opened #326 "multitask predictive distribution"
Hello,

I was wondering if you could write out the predictive distribution for a new data point from task i, using the Kronecker product notebook?

Do you follow the exact form of the[ paper you point to](https://papers.nips.cc/paper/3189-multi-task-gaussian-process-prediction.pdf)? Or is there another paper which fully specifies the mean and covariance when you predict for new data?

Thanks!

[2018-10-17 12:52] gpleiss commented on #326
Hi @Sabina321 - are you asking for the derivation? We follow exactly what is in equation (2) for the mean computations. The mean that we return is a matrix $[f_1, ..., f_t]$, where each row represents a data point and each column 1...t represents a task.

[2018-10-17 12:58] Sabina321 commented on #326
Hi Geoff,

Thanks for responding. If you follow eqn 2 in the paper, that clarifies. I just wasn't sure if you followed that paper, or something else. So to confirm, if you predict for a single test point from one task it calculates inter-task similarities across the training data?

[2018-10-17 13:13] gpleiss commented on #326
That is correct! All predictions take inter-task similarities into account.

With the Kronecker notebook, when you make predictions for a test point you will get predictions for every task (though if you only care about one task, you can index into the returned distribution).

If each data point is only associated with a single task, you should check out the Hadamard notebook. The derivation is ve

[2018-10-17 14:34] Balandat commented on #314
Hmm while that would buy you consistency and a more explicit constructor, it would make things more verbose. Also, if you wanted to benefit from the pytorch broadcasting features under the hood and in fact share hyperparmeters, then you'd have to add another kwarg to the constructor to make that work...

[2018-10-17 14:39] Balandat commented on #291
Thanks a lot for the comprehensive tests in your PR. We should probably make sure to write up some documentation about this - maybe even a little feature matrix showing which of the following can be combined, and what the expected train/test input dimensions and resulting output dimensions are:
- batch training (shared hyperparameters)
- batch training (separate hyperparameters)
- batch evaluation

[2018-10-17 14:39] #236 closed

[2018-10-17 17:11] sadatnfs commented on #323
(Apologies for all these qs!)

[2018-10-17 17:52] jacobrgardner commented on #323
@sadatnfs No problem!

Are you sure a GP is actually the thing you want to be using for that specific component of the model? I'm not sure I fully understand the model you're trying to implement, so it's hard to give specific feedback.

Maybe a clarifying question would be: what would your model look like if location was your only input?

[2018-10-17 18:04] sadatnfs commented on #323
Hah @jacobrgardner funny that you mention that, because I was actually trying to code up the location part as a non GP component right now (flurrying through documentations).

Yes if we were to think of this setup in the world of mixed effects, I have written his horrible C++ pseudo code to sort of try to explain my model (I've been fitting large models in an R package called TMB which uses C++ mo

[2018-10-17 18:41] sadatnfs commented on #323
One thing I was trying was to roll the fixed effects and the location intercept part in the forward pass like such (which would feed as the mean), but I struck out on thinking up a way of doing the matrix multiplication of the location parameter without a for loop:

[code]

[2018-10-18 05:28] Chillee opened #328 "ard_num_dims handled inconsistently across kernels"
According to this comment(https://github.com/cornellius-gp/gpytorch/issues/314#issuecomment-427047286), it seems like ard_num_dims should always be equal to the dimension of the input dimension, and if it isn't, it should throw an error. However, SpectralMixtureModel is the only model that does so, the rest (RBFKernel and MaternKernel) fail in unexpected ways.

[2018-10-18 07:07] eytan commented on #314
max, can you clarify what you mean by your last comment about broadcasting features and sharing HPs? Requiring users to specify the number of dimensions in their kernels no matter what is a lot more consistent with what is expected of most PyTorch layers, as Geoff suggests. Also, while I see why you wouldn’t want to use ARD for DKL, it’s difficult to imagine many other cases where you wouldn’t wan

[2018-10-18 12:21] gpleiss commented on #326
I'm going to close this issue for now, but feel free to reopen if you still have lingering questions!

[2018-10-18 12:21] #326 closed

[2018-10-18 12:28] gpleiss commented on #328
`ard_num_dims` is an optional feature for most kernels. If it is not set, then the kernel uses the same length scale for all dimensions. This is handled by PyTorch Tensor broadcasting. If `ard_num_dims=None`, then the lengthscale is a `1 x 1` Tensor. If `ard_num_dims=d`, then it is a `1 x d` tensor.

[2018-10-18 12:30] gpleiss commented on #328
The spectral mixture kernel is a bit of an exception, in part because it behaves differently than most other kernels. [By design](https://arxiv.org/pdf/1302.4245.pdf), the SM kernel for a multi-dimensional dataset is defined as the product of 1D SM kernels across each dimension. Since the SM kernel is highly parametric, it would not make sense for each dimension/mixture component to share the same

[2018-10-18 12:31] gpleiss commented on #328
And can you give an example of how RBF/Matern kernels fail if `ard_num_dims` is not set? It should probably fail if `ard_num_dims=4` and the input data is `nx6`, for example. However, if `ard_num_dims` is not set then it should work.

[2018-10-18 12:32] gpleiss commented on #291
I'll work on it!

[2018-10-18 13:01] gpleiss commented on #314
@eytan that's a fair point. I think it would be reasonable to require ARD by default. However, I'm a bit hesitant to introduce a breaking change into GPyTorch so soon after our beta release...

[2018-10-18 13:19] Balandat commented on #314
About the broadcasting, see https://github.com/cornellius-gp/gpytorch/issues/328#issuecomment-430989404

[2018-10-18 15:50] eytan commented on #314
If this is something you wanted to change, I would recommend introducing / phasing out the old API incrementally over one or two point releases.  Personally, I find it to be a lot less magical and intuitive as a new user.  Perhaps y'all will want to see if the ard continues to be a point of confusion, and if it does, come up with some plan to slowly move people to some required input dimension w/

[2018-10-18 15:50] #314 closed

[2018-10-18 15:55] Balandat commented on #314
Sounds reasonable to me. I can put up a PR for that if @gpleiss and @jacobrgardner are ok with that soft deprecation.

[2018-10-18 16:37] Chillee commented on #328
Sorry for not being clear. Specifically, the bug report is that when ard_num_dims is set to a value that isn't equal to the input dimension, it sometimes fails silently (such as when ard_num_dims is set to 0).

These were essentially the things I was running that confused me: https://colab.research.google.com/drive/1V0PbDIH2KaCc8toshgshMa2-Gb0BS3bf

Specifically, I believe the current behavior for

[2018-10-18 16:43] gpleiss commented on #328
Totally agree. I’ll work on a PR for some loud errors.

[2018-10-23 12:43] #328 closed

[2018-10-26 17:39] Balandat opened #334 "Test failure in TestKissGPAdditiveClassification"
I'm seeing the below test failure on pytorch master.

Looks like this is due to a discrepancy in the following two checks:
https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/functions/_log_normal_cdf.py#L77
https://github.com/cornellius-gp/gpytorch/blob/master/gpytorch/functions/_log_normal_cdf.py#L108-L109

This is somewhat disconcerting b/c these should be the same tensors?

[code]

[2018-10-29 13:58] h-jia opened #336 "Batch size could not be applied in prediction or relength to feed in model"
It seems the model has inherit hyperparameters that could not be change during prediction.
Is there a way to deal with this?

[2018-10-29 14:00] jacobrgardner commented on #336
Do you have a quick example of what you mean is failing?

[2018-10-29 14:01] jacobrgardner commented on #334
@Balandat I don't see this failure on the #335 branch -- maybe we can see if that fixes the issue once merged?

[2018-10-29 14:11] Balandat commented on #334
Sounds good, I can try that. Do you expect this to be merged in soonish?

[2018-10-29 16:03] Balandat commented on #334
I patched onto the PR, unfortunately I still see this error (and the one below).

[code]

[2018-10-29 16:39] Balandat commented on #334
That's good, I guess. Will dig a little more, let me know if you run into similar failures.

[2018-10-30 17:43] jacobrgardner opened #339 "Module.named_parameter_priors inconsistent with Module.named_derived_priors"
One returns the parameter before the prior, and the other returns the prior before the parameter:
https://github.com/cornellius-gp/gpytorch/blob/8106ba8e6230f375cf3c6e3c28c8c95b2e77f11d/gpytorch/mlls/exact_marginal_log_likelihood.py#L41-L44

[2018-10-30 17:54] gpleiss commented on #339
We can use this as an excuse to merge the two types of priors (i.e. tackling #181)

[2018-10-31 00:04] Balandat commented on #339
This doesn't cause any issues currently, right? Happy to take this on.

[2018-11-02 02:37] h-jia commented on #291
Also problem with me. Hope this can be fixed. Thanks

[2018-11-02 18:44] Balandat opened #340 "Issues with switching between batch and non-batch predictions"
tl;dr: We need to better handle the precomputed cache for train-train covariance

Say you fit a GP in standard (non-batch) mode (`n x p` input).

- if you evaluate it in standard mode (`m x p` input), you're fine
- if you evaluate in batch mode (`b x m x p` input) **without having previously evaluated in standard mode**, you're fine
- if you first evaluate in standard mode, then in batch mode (or

[2018-11-02 22:26] sumitsk opened #341 "Scalable GPR with KISSGP error"
Running Deep Kernel Learning GP regression [notebook ](https://github.com/cornellius-gp/gpytorch/blob/master/examples/05_Scalable_GP_Regression_Multidimensional/KISSGP_Deep_Kernel_Regression_CUDA.ipynb) throws RuntimeError:
[code]

This happens in the 2nd iteration. In the first, the loss is a huge negative number of the order 10^16.

[2018-11-02 23:55] jacobrgardner commented on #341
@sumitsk Should be fixed!

@Balandat I think this might have been related to #334. In the process of bisecting on this, I went back really really far in history (like before the beta release even) and the notebook with the optimizer as set still failed using pytorch-nightly but not with pytorch-0.4.

I'm going to close this for now since I was able to reproduce and then fix the issue, but I will n

[2018-11-03 00:12] Balandat commented on #341
I am not sure. I tried to bisecting this but it has been very challenging, because the failures weren't deterministic and only showed up occasionally, so it's hard to automate this.

I can ask the pytorch gurus about this - let's make sure we can narrow this down before I do, if I understand you correctly this is b/c the Adam/SGD optimizers are behaving differently for the same settings / initial

[2018-11-03 06:05] sumitsk commented on #341
@jacobrgardner , @Balandat . I tried running the updated notebook but I keep getting RuntimeError:
[code]
I have seen this error occur occasionally but on this particular setup, it is in every run!!

[2018-11-03 12:08] jacobrgardner commented on #341
@sumitsk This could be useful to help us understand what's going on. I just checked, and the notebook runs through fine for me, even with various different settings of the learning rate / number of training iterations.

What does your setup look like? I am running gpytorch master against pytorch `1.0.0.dev20181102 py3.7_cuda9.2.148_cudnn7.1.4_0`.

[2018-11-03 12:12] jacobrgardner commented on #341
Just to be safe, I pushed the two DKL `elevator` dataset notebooks again.

[2018-11-03 18:17] sumitsk commented on #341
@jacobrgardner . On the latest torch-nightly `1.0.0.dev20181103`, the notebook runs properly. Closing this now.

[2018-11-03 18:17] #341 closed

[2018-11-04 01:28] sumitsk opened #344 "GridKernel for perfect grid dataset"
I am studying a case where my data lies perfectly on a 3D grid (example: cubic lattice) and I want to use spectralmixture kernel for GP regression. I want to wrap it with GridKernel to speed up computation. What does the `inducing_points` argument does and is it same as `grid` argument if there is one data point corresponding to each grid cell, in other words, there are no empty cells in the grid

[2018-11-04 01:58] jacobrgardner commented on #344
So the two kernels definitely shouldn't need to construct `inducing_points`, which was the full set of inducing points on the grid. After #345 gets merged, `GridKernel` will only depend on `base_kernel` and `grid`. Whoops!

`grid` is a `grid_size x num_dims` tensor containing the single dimensional grid in each dimension -- that is, `grid[:, 0]` contains all of the points on the grid in the first

[2018-11-04 05:35] sumitsk commented on #344
What if the grid is not a cube, say its size is `20x50x70` ? In that case, we can not use a `GridKernel` because it assumes same size in all the dimensions. One can create 1D grid in each dimension and specify size and bounds for each one of them, but then it can not be wrapped with a `ProductStructureKernel`. So, is it possible to do better than just using `ProductKernel`?

[2018-11-04 12:33] jacobrgardner commented on #344
A multidimensional grid kernel can be written as the Kronecker product of the one dimensional grids kernels.

One way to accomplish this would be to wrap the same 1D base kernel with three different GridKernels--one for each dimension. Then in your model forward method you can call all three grid kernels and create a `KroneckerProductLazyTensor` from the three `ToeplitzLazyTensors` you get from th

[2018-11-04 13:32] #250 closed

[2018-11-04 14:12] jacobrgardner commented on #340
The actual bug parts of this issue are fixed via #342 -- the only remaining thing left to do is make it so that in the multitask setting we don't duplicate work if possible.

[2018-11-04 15:33] jacobrgardner commented on #344
#346 makes GridKernel easier to use for this setting if your test data isn't also the grid, and adds an example python notebook with a cube grid.

I'll refactor GridKernel to also support non-cube grids for convenience soon.

[2018-11-04 18:56] jacobrgardner commented on #166
This is now possible to do for variational inference by way of #335. The WhiteNoiseKernel still won't apply to the scalable methods like it does in the exact GP case, but all that's necessary is a new variational strategy that adds the white noise at the end of  the `forward` method of whatever base variational strategy is being used. Something like:

[code]

[2018-11-04 18:56] #166 closed

[2018-11-04 21:25] sumitsk opened #348 "GPR fails with LBFGS optimizer"
Running a simple 1D GP regression (RBF kernel) sporadically throws runtime error when using `LBFGS` optimizer. This happens when MLL loss suddenly increases by a big value.

[2018-11-05 20:16] sumitsk commented on #344
Hey @jacobrgardner. If my test data is also a grid, is it possible to achieve some speedup instead of computing a `train_size x test_size` kernel matrix ? This huge size matrix creates memory issues.

[2018-11-05 20:45] jacobrgardner commented on #344
I'm not actually sure it is possible to do better if the test grid is different from the train grid, since the matrix may not necessarily be Toeplitz, which is where the space savings for the train x train matrix comes from.

I'll think about if there's structure there.

One idea would be to use the exact Grid matrix for the train train matrix but some other scalable GP approximate method for the

[2018-11-06 22:11] Balandat opened #349 "Use torch.cholesky instead of torch.potrf"
This was renamed in: https://github.com/pytorch/pytorch/pull/12699
We should update the call sites accordingly once this has made its way into a release.

[2018-11-06 22:41] jacobrgardner commented on #349
While we're on the subject, we should rename `LazyTensor.log_det` to `LazyTensor.logdet` to maintain our mirror of the `torch.Tensor` interface.

[2018-11-07 00:31] sumitsk opened #350 "SM kernel shared mixture weights"
The mixture weights of spectral mixture kernels has size `batch_size x num_mixtures` unlike means and scales hyperparameters. Any particular reason behind sharing the weights across all the dimensions? The paper keeps separate weights, means and scales.

[2018-11-07 00:40] jacobrgardner commented on #350
In the multidimensional SM kernel, multiple `d` dimensional Gaussians are mixed together (e.g. equation 12 of https://arxiv.org/pdf/1302.4245.pdf). Therefore, while the Gaussians themselves can have `d` variances, each Gaussian obviously only has one weight.

[2018-11-07 00:40] #350 closed

[2018-11-07 18:38] Balandat commented on #340
So while this fixes forward passes, there are still issues with the backward pass, see https://github.com/cornellius-gp/gpytorch/pull/342#issuecomment-436725975

[2018-11-08 07:51] sumitsk opened #357 "GridInterpolationKernel wrapped over product kernels with active dims"
This issue can be best explained with the following code snippets:

This works fine:
[code]
This does not:
[code]

Is it not possible to wrap GridInterpolationKernel over such a custom-designed covariance module?

[2018-11-08 13:18] gpleiss commented on #357
Short answer: I don't think this should error out, but you should probably be using a `ProductStructureKernel` instead, which will be much more efficient/faster.

Can you return the error that you're seeing?

Long answer: correct me if I'm wrong, but the kernel you're constructing has product structure (i.e. `k(x, x') = k_1(x_1, x_1') k_2(x_2, x_2')`). Rather than creating a 2D grid around `k(x, x

[2018-11-08 14:17] jacobrgardner opened #358 "Transition from test/examples to testing Jupyter notebooks directly"
See comments in #356 . Having unit tests that make sure all of the basic models we think should function actually do is really nice, but it's getting too cumbersome to have happen every time we want to run unit tests locally.

The proposed solution is to use one of the frameworks that directly lets us test Jupyter notebooks. This also has the advantage of making sure our examples all still work.

[2018-11-08 14:31] jacobrgardner commented on #357
The reason it errors out is because `GridKernel` calls the base kernel with `batch_dims=(0, 2)` because it wants `d` sub kernels that it can Kronecker product together. A `ProductKernel` with active_dims like this destroys the `d` dimension.

@gpleiss is correct that `ProductStructureKernel` is probably the way to go for your actual use case, but the actual bug to come out of this is probably that

[2018-11-08 14:47] jacobrgardner commented on #357
Actually, I'm not sure it'll be possible to wrap a `ProductKernel` with active_dims in a `GridInterpolationKernel`. I think wrapping the `GridInterpolationKernels` themselves is the way to go, and I'll think about this.

[2018-11-08 14:47] #357 closed

[2018-11-08 19:25] akbari59 opened #360 "Hadamard Multitask GP with KISS"
Hi
I want to implement a scalable Multitask GP where we learn one task per input. I used an approach like the Hadamard multi-task approach. However, I confused how to use GridInterpolationKernel and IndexKernel together? Any way to implement it?
Thanks,
Mohammad

[2018-11-08 19:29] jacobrgardner commented on #360
If you follow the model here: https://github.com/cornellius-gp/gpytorch/blob/master/examples/03_Multitask_GP_Regression/Hadamard_Multitask_GP_Regression.ipynb

But instead of using
[code]
you do
[code]

Then everything should work the way you want

[2018-11-08 19:40] akbari59 commented on #360
Thanks :)

[2018-11-08 19:54] #360 closed

[2018-11-09 02:43] Balandat opened #361 "Make DiagLazyTensor work with any batch size"
Currently, `DiagLazyTensor` assumes either a vector or matrix as input. This has the following weird behavior:

[code]
Given @gpleiss's previous work on supporting general batch shapes, I suggest we modify `DiagLazyTensor` to support input tensors of general shapes. The last dimension will be interpreted as the diagonal, and the previous dimensions as batches. That is, a `DiagLazyTensor(torch.ones

[2018-11-09 02:45] Balandat commented on #361
more generally, I suspect we could get rid of a lot of special casing also in other LazyTensor implementations by consistently using general batch shapes. E.g. here we'd have `batch_shape = base_lazy_tensor.shape[:-1]`

[2018-11-09 14:31] jacobrgardner commented on #361
I'm in agreement with this change for sure, a DiagLazyTensor created with a 2 x 3 x 4 tensor should represent a 2 x 3 x 4 x 4 matrix.

Do our other LazyTensors already support multiple batch dimensions already? I remember @gpleiss working on this, but wasn't 100% sure whether it was fully done.

[2018-11-09 14:46] jacobrgardner commented on #361
While we're on the subject of revamping `DiagLazyTensor`, we should also remove the checks in the custom `inv_matmul` and `inv_quad_log_det` that incorrectly prevent broadcasting:
https://github.com/cornellius-gp/gpytorch/blob/9829ed9bf3f7f039c5b2d8b1f994d774996666f5/gpytorch/lazy/diag_lazy_tensor.py#L97-L108

[2018-11-09 14:53] Balandat commented on #361
Yeah it needs a good spring cleaning all around.

[2018-11-09 14:56] gpleiss commented on #361
@jacobrgardner @Balandat - haha still haven't gotten around to getting other LazyTensors to work with multitbatch stuff. (Post CVPR...)

[2018-11-09 23:11] Balandat commented on #361
Here's a draft PR: #362, input welcome.

[2018-11-10 13:22] h-jia opened #363 "Lapack Error syev in Kiss-GP error"
Lapack Error syev : 14 off-diagonal elements didn't converge to zero at /opt/conda/conda-bld/pytorch-nightly_1539082131513/work/aten/src/TH/generic/THTensorLapack.cpp:395

what does this mean?

[2018-11-10 21:48] sumitsk opened #364 "periodic kernel predictive variance"
In the simple gp regression notebook, replacing RBF kernel with Periodic Kernel throws this runtime error while making predictions:

[code]

[2018-11-10 22:02] gpleiss commented on #364
Hmm I'll take a look.

[2018-11-10 22:04] gpleiss commented on #364
I can't reproduce this error. Can you provide an example notebook, perhaps? Also, are you running on master or the latest release?

[2018-11-10 22:14] sumitsk commented on #364
I am running on the `grid_train` branch. Here is a very small script that throws the error:
[code]

If i replace periodic with rbf, everything works fine.

[2018-11-10 22:33] jacobrgardner commented on #364
I just ran your minimal example on the `grid_train` branch and am also not running in to issues there

[2018-11-11 11:15] h-jia commented on #363
Thanks. With a lower boundary of grid fixed this issue.

[2018-11-11 11:15] #363 closed

[2018-11-11 15:59] h-jia opened #365 "Best loss for prediction"
Is the best loss close to 0 or only focusing on test accuracy if it is converged? In the example I see many examples with negative losses. Thanks

[2018-11-11 16:00] h-jia commented on #365
For regression

[2018-11-12 10:45] h-jia opened #366 "DKL model fixed train size for test"
`invalid argument 0: Sizes of tensors must match except in dimension 1. Got 149 and 841 in dimension 0.` Here the 149 is the test data while the 841 is the training data.

What I am doing is to use a network to downsize the dimension of the input. Say, input 841\*60\*2 into 841*60 output. Where 841 and 149 are batches. It seems that the DKL model fixed the dimension into 841 when I do test.

If I

[2018-11-12 11:06] #365 closed

[2018-11-12 13:48] #313 closed

[2018-11-12 14:40] jacobrgardner commented on #366
Do you think you could give us a small example of your model that fails that you think should work, maybe just passing random data generated with `torch.randn` through it?

[2018-11-13 14:42] Balandat opened #369 "Make all LazyTensors work with any batch size"
#362 extended `DiagLazyTensor` to work with general batch sizes. We need to do the same for the KroneckerProductLazyTensor. This is required to make the new Heteroskedastic Likelihoods work correctly in the multi-batch multi-task case.

Currently, the behavior is
[code]

[code]

[2018-11-13 14:49] Balandat commented on #369
@jacobrgardner, @gpleiss, how do you feel about broadcasting the batch sizes here? That is, you could do `KroneckerProductLazyTensor(T1, T2)` for Tensors `T1` and `T2` as long as `T1.shape[:-2]` and `T2.shape[:-2]` are broadcastable. This seems like reasonable behavior.

[2018-11-13 18:39] gpleiss commented on #369
That seems super reasonable!

[2018-11-14 00:18] bletham opened #370 "Robust model fitting (RuntimeError when learning rate is too high)"
Thanks for the continued development on GPyTorch. It's fantastic for constructing models but one area that we've recently been struggling with is robustly fitting models, due to numerical issues during optimization. Even a simple ExactGP model errors out during fitting with a RuntimeError if the learning rate is too large.

This makes model fitting a real challenge: too small of a learning rate an

[2018-11-14 00:29] jacobrgardner commented on #370
@Balandat totally. It may actually be easier than catching the errors: most of the errors that pop up happen downstream from getting a NaN in a result from CG or the preconditioner calculation. We could probably simply detect a NaN in one of those places, and return NaN for the overall loss if we do.

[2018-11-14 00:39] Balandat commented on #370
You guys probably know best where to do these checks and how to do them efficiently - do you mind putting up a PR for this? This would be super helpful.

[2018-11-14 00:44] hjmshi commented on #370
@Balandat Yes, this should be sufficient for L-BFGS to know to backtrack.

[2018-11-14 16:13] #370 closed

[2018-11-14 16:30] Balandat opened #374 "Allow priors to take a param_transform"
#371 added support for passing a `param_transform` into many modules to swap out the default exponential transform (i.e. internal parameters in log scale).

The priors currently still only support a `log_scale` boolean flag, so there is no easy way to put an existing prior on the transformed parameter (without implementing a new prior). We should change this and support passing in a `param_transfo

[2018-11-14 16:40] Balandat commented on #374
This is a good opportunity to also tackle #181 and #339

[2018-11-14 16:54] Balandat commented on #374
In line with #181, instead of passing the transform into the prior, we could instead just use what's currently a "derived prior" and register the transform there. The only restriction of that would be that we couldn't have different transforms for parameters in the evaluation vs. the prior. I guess while that's not a typical use case, it would allow to do things like simply put a log-normal prior

[2018-11-14 17:49] gpleiss commented on #349
This happened with #368, so closing.

[2018-11-14 17:49] #349 closed

[2018-11-14 17:50] gpleiss commented on #334
Closing, unless there's still issues.

[2018-11-14 17:50] #334 closed

[2018-11-14 17:55] gpleiss commented on #374
I think I'm fine with either. If I'm understanding what you're suggesting, 2 could be an optional syntactic sugar for 1, right?

[2018-11-14 19:33] Balandat commented on #374
Hmm so working on this it seems it would make sense internally to associate the transform with the parameter itself, not the module the parameter is registered with. The constructors for the user-facing api could remain the same, but the transform would be registered with the parameter, similar to what's currently done for the derived prior transforms.

E.g. for kernels that would look like the fo